<style type="text/css">
  @import url(/style/screen.css);
  @import url(/style/local.css);
  @import url(/style/forms.css);
</style>
<script type="text/javascript">
//<![CDATA[
if (top.location != document.location) { top.location.href = document.location.href; }
//]]>
</script>
