<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:lang Archives}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Archives}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  <link rel="up" href="{{tpl:BlogURL}}" title="Blog" />
  
  <tpl:Archives>
    <link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
  </tpl:Archives>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  {{tpl:include src="_blog_head.html"}}
</head>

<body class="dc-archive">

{{tpl:include src="_top.html"}}
  <div id="content-info" class="topbox">
    <h2><a href="{{tpl:BlogURL}}">{{tpl:BlogName}}</a> &#187; {{tpl:lang Archives}}</h2>
  </div>
  
  <div class="content-inner">
  <tpl:Archives>
    <tpl:ArchivesYearHeader>
      <h3>{{tpl:ArchiveDate format="%Y"}}</h3>
      <ul>
    </tpl:ArchivesYearHeader>
      <li><a href="{{tpl:ArchiveURL}}"
      title="{{tpl:ArchiveDate encode_html="1"}}">{{tpl:ArchiveDate encode_html="1" format="%B"}}</a>
      ({{tpl:ArchiveEntriesCount}})</li>
    <tpl:ArchivesYearFooter>
      </ul>
    </tpl:ArchivesYearFooter>
  </tpl:Archives>
  </div>
  
  
{{tpl:include src="_blog_footer.html"}}

</body>
</html>