<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:EntryTitle encode_html="1"}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" content="{{tpl:EntryTitle encode_html="1"}} &rsaquo; {{tpl:BlogName encode_html="1"}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="dc.creator" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="dc.language" content="{{tpl:EntryLang}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.date" scheme="W3CDTF" content="{{tpl:EntryDate iso8601="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  <link rel="top" href="{{tpl:BlogURL}}" title="Blog" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:EntryNext><link rel="next" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryNext>
  
  <tpl:EntryPrevious><link rel="previous" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryPrevious>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  {{tpl:include src="_blog_head.html"}}
  <script type="text/javascript" src="/js/blog.post.js"></script>
  <script type="text/javascript">
  //<![CDATA[
  var post_remember_str = '{{tpl:lang Remember me on this blog}}';
  //]]>
  </script>
</head>

<body class="dc-post">

{{tpl:EntryPingData}}

{{tpl:include src="_top.html"}}

  <p id="navlinks">
  <tpl:EntryPrevious><a href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" class="prev">&#171; {{tpl:EntryTitle encode_html="1"
  cut_string="50"}}</a></tpl:EntryPrevious>
  <tpl:EntryNext><span>-</span> <a href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" class="next">{{tpl:EntryTitle encode_html="1"
  cut_string="50"}} &#187;</a></tpl:EntryNext>
  </p>
  
  <div id="content-info" class="topbox">
    <h2><a href="{{tpl:BlogURL}}">{{tpl:BlogName}}</a> &#187;
    <span class="post-title">{{tpl:EntryTitle encode_html="1"}}</span></h2>
  </div>
  
  <div class="post">
    <p class="day-date"><span class="dmonth">{{tpl:EntryDate format="%Y"}}
    <span>{{tpl:EntryDate format="%b"}}</span></span>
    <span class="dday">{{tpl:EntryDate format="%e"}}</span></p>
    
    
    
    <p class="post-info">{{tpl:lang By}} {{tpl:EntryAuthorLink}}
    <tpl:EntryIf has_category="1">
    - <a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory encode_html="1"}}</a>
    </tpl:EntryIf>
    - <a href="{{tpl:EntryURL}}">{{tpl:lang Permalink}}</a>
    </p>
    
    <tpl:EntryMetaData>
    <tpl:MetaDataHeader><ul class="post-tags"></tpl:MetaDataHeader>
    <li><a href="{{tpl:MetaURL}}">{{tpl:MetaID}}</a></li>
    <tpl:MetaDataFooter></ul></tpl:MetaDataFooter>
    </tpl:EntryMetaData>
    
    <!-- # Entry with an excerpt -->
    <tpl:EntryIf extended="1">
      <div class="post-excerpt">{{tpl:EntryExcerpt}}</div>
    </tpl:EntryIf>
    
    <div class="post-content">{{tpl:EntryContent}}</div>
  </div>
  
  <!-- # Attachments -->
  <tpl:Attachments>
    <tpl:AttachmentsHeader>
      <div id="attachments">
      <h2>{{tpl:lang Attachments}}</h2>
      <ul>
    </tpl:AttachmentsHeader>
      <li class="{{tpl:AttachmentType}}">
        <tpl:AttachmentIf is_mp3="1">
          {{tpl:include src="_mp3_player.html"/}} - 
        </tpl:AttachmentIf>
        <tpl:AttachmentIf is_flv="1">
	     {{tpl:include src="_flv_player.html"/}}
	   </tpl:AttachmentIf>
	   <tpl:AttachmentIf is_flv="0">
	   	<a href="{{tpl:AttachmentURL}}"
		title="{{tpl:AttachmentFileName}} ({{tpl:AttachmentSize}})">{{tpl:AttachmentTitle}}</a>
        </tpl:AttachmentIf>
      </li>
    <tpl:AttachmentsFooter>
      </ul>
      </div>
    </tpl:AttachmentsFooter>
  </tpl:Attachments>
 
  <!-- # Comments -->
  <tpl:EntryIf show_comments="1">
    <tpl:Comments>
    <tpl:CommentsHeader>
      <div id="comments">
      <h2>{{tpl:lang Comments}}</h2>
      <dl>
    </tpl:CommentsHeader>
      <dt id="c{{tpl:CommentID}}" class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}"><a
      href="#c{{tpl:CommentID}}" class="comment-number">{{tpl:CommentOrderNumber}}</a>
      {{tpl:lang On}} {{tpl:CommentDate}}, {{tpl:CommentTime}}
      {{tpl:lang by}} {{tpl:CommentAuthorLink}}</dt>
      
      <dd class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}">{{tpl:CommentContent}}</dd>
    <tpl:CommentsFooter>
      </dl>
      </div>
    </tpl:CommentsFooter>
    </tpl:Comments>
  </tpl:EntryIf>
  
  <tpl:EntryIf comments_active="1">
    <tpl:SysIfFormError>
      <p class="error" id="pr">{{tpl:SysFormError}}</p>
    </tpl:SysIfFormError>
    
    <tpl:SysIfCommentPublished>
      <p class="message" id="pr">{{tpl:lang Your comment has been published.}}</p>
    </tpl:SysIfCommentPublished>
    
    <tpl:SysIfCommentPending>
      <p class="message" id="pr">{{tpl:lang Your comment has been submitted and
      will be reviewed for publication.}}</p>
    </tpl:SysIfCommentPending>
    
    <!-- # Comment form -->
    <form action="{{tpl:EntryURL}}#pr" method="post" id="comment-form">
      <tpl:IfCommentPreview>
        <div id="pr">
          <h2>{{tpl:lang Your comment}}</h2>
          <dl>
            <dd class="comment-preview">{{tpl:CommentPreviewContent}}</dd>
          </dl>
          <p class="buttons"><input type="submit" class="submit" value="{{tpl:lang send}}" /></p>
        </div>
      </tpl:IfCommentPreview>
      
      <h2>{{tpl:lang Add a comment}}</h2>
      <fieldset>
        <div><p class="note"><strong>{{tpl:lang Please use the <a href="/forum/">forum</a> for all your support questions.}}</strong></p></div>
        <div><label for="c_name">{{tpl:lang Name or nickname}}&nbsp;:</label>
        <input name="c_name" id="c_name" type="text" size="30" maxlength="255"
        value="{{tpl:CommentPreviewName encode_html="1"}}" />
        </div>
        
        <div><label for="c_mail">{{tpl:lang Email address}}&nbsp;:</label>
        <input name="c_mail" id="c_mail" type="text" size="30" maxlength="255"
        value="{{tpl:CommentPreviewEmail encode_html="1"}}" />
        </div>
        
        <div><label for="c_site">{{tpl:lang Website}}
        ({{tpl:lang optional}})&nbsp;:</label>
        <input name="c_site" id="c_site" type="text" size="30" maxlength="255"
        value="{{tpl:CommentPreviewSite encode_html="1"}}" />
        </div>
        
        <p style="display:none"><input name="f_mail" type="text" size="30"
        maxlength="255" value="" /></p>
        
        <div><label for="c_content">{{tpl:lang Comment}}&nbsp;:</label>
        <textarea name="c_content" id="c_content" cols="35"
        rows="7">{{tpl:CommentPreviewContent raw="1" encode_html="1"}}</textarea>
        <p class="note">{{tpl:lang HTML code is displayed as text and web addresses are
        automatically converted.}}</p>
        </div>
        
        <div class="controlset"><input type="submit" class="preview" name="preview" value="{{tpl:lang preview}}" />
        <tpl:IfCommentPreview><input type="submit" class="submit" value="{{tpl:lang send}}" /></tpl:IfCommentPreview></div>
      </fieldset>
    </form>
  </tpl:EntryIf>
  
  <!-- # Trackbacks -->
  <tpl:EntryIf show_pings="1">
    <tpl:Pings>
      <tpl:PingsHeader>
      <div id="pings">
      <h2>{{tpl:lang They posted on the same topic}}</h2>
      <dl>
      </tpl:PingsHeader>
        <dt id="c{{tpl:PingID}}" class="{{tpl:PingIfOdd}} {{tpl:PingIfFirst}}"><a href="#c{{tpl:PingID}}"
        class="ping-number">{{tpl:PingOrderNumber}}</a>
        {{tpl:lang On}} {{tpl:PingDate}}, {{tpl:PingTime}}
        {{tpl:lang by}} {{tpl:PingBlogName encode_html="1"}}</dt>
        
        <dd class="{{tpl:PingIfOdd}} {{tpl:PingIfFirst}}"><p><a href="{{tpl:PingAuthorURL}}"
        {{tpl:PingNoFollow}}>{{tpl:PingTitle encode_html="1"}}</a></p>
        {{tpl:PingContent}}</dd>
      <tpl:PingsFooter>
      </dl>
      </div>
      </tpl:PingsFooter>
    </tpl:Pings>
  </tpl:EntryIf>
  
  <tpl:EntryIf pings_active="1">
    <p id="ping-url">{{tpl:lang Trackback URL}}&nbsp;: {{tpl:EntryPingLink}}</p>
  </tpl:EntryIf>
  
  <tpl:EntryIf operator="or" comments_active="1" pings_active="1">
  <p id="comments-feed"><a class="feed" href="{{tpl:BlogFeedURL}}/comments/{{tpl:EntryID}}" type="application/atom+xml"
  title="{{tpl:lang This post's comments Atom feed}}">{{tpl:lang This post's comments feed}}</a></p>
  </tpl:EntryIf>

{{tpl:include src="_blog_footer.html"}}

</body>
</html>