<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE,NOFOLLOW"}}" />
  
  <title>{{tpl:lang Account deletion}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Account deletion}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-my">

{{tpl:include src="_top.html"}}

  <h1>{{tpl:lang Account deletion}}</h1>
  
  <tpl:AuthIf has_error="1">
    <p class="error"><strong>{{tpl:lang Error:}}</strong> {{tpl:AuthValue type="err" encode_html="1"}}</p>
  </tpl:AuthIf>
  
  <p>{{tpl:lang Are you sure you want to delete your account now?}}
	{{tpl:lang This operation cannot be undone}}</p>
  
	<form action="/my/delete" method="post">
	<p><input type="submit" name="yes" value="{{tpl:lang yes}}" />
	<input type="submit" name="no" value="{{tpl:lang no}}" /></p>
	</form>
  
{{tpl:include src="_footer.html"}}

</body>
</html>