<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE,NOFOLLOW"}}" />
  
  <title>{{tpl:lang Your account}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Your account}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-my">

{{tpl:include src="_top.html"}}

  <h1>{{tpl:lang Your Dotclear.org Account}}</h1>
  
  <tpl:AuthIf has_error="1">
    <p class="error"><strong>{{tpl:lang Error:}}</strong> {{tpl:AuthValue type="err" encode_html="1"}}</p>
  </tpl:AuthIf>
  
  <tpl:AuthIf has_msg="1">
    <p class="message"><strong>{{tpl:AuthValue type="msg" encode_html="1"}}</strong></p>
  </tpl:AuthIf>
  
  <!-- # User is logged -->
  <tpl:AuthIf logged_in="1">
    <p><strong><a href="/my/?logout=1">{{tpl:lang Logout}}</a></strong></p>
    
    <form action="/my/" method="post">
      <fieldset>
        <legend>{{tpl:lang User details}}</legend>
        <div>
          <span class="label">{{tpl:lang Username:}}</span>
          <strong>{{tpl:AuthValue type="login" encode_html="1"}}</strong>
        </div>
        
        <div>
          <label for="user_firstname">{{tpl:lang First Name:}}</label>
          <input type="text" size="30" name="user_firstname" id="user_firstname" maxlength="255"
          value="{{tpl:AuthValue type="firstname" encode_html="1"}}" />
        </div>
        
        <div>
          <label for="user_name">{{tpl:lang Last Name:}}</label>
          <input type="text" size="30" name="user_name" id="user_name" maxlength="255"
          value="{{tpl:AuthValue type="name" encode_html="1"}}" />
        </div>
      </fieldset>
      
      <fieldset>
        <legend>{{tpl:lang Change e-mail address}}</legend>
        <div class="required">
          <label for="user_email">{{tpl:lang E-mail:}}</label>
          <input type="text" size="30" name="user_email" id="user_email" maxlength="512"
          value="{{tpl:AuthValue type="email" encode_html="1"}}" />
        </div>
        <div class="required">
          <label for="user_email_cf">{{tpl:lang Repeat e-mail:}}</label>
          <input type="text" size="30" name="user_email_cf" id="user_email_cf" maxlength="512"
          value="{{tpl:AuthValue type="email_cf" encode_html="1"}}" />
        </div>
      </fieldset>
      <fieldset>
        <legend>{{tpl:lang Change password}}</legend>
        <p>{{tpl:lang Leave fields empty to keep your current password.}}</p>
        <div>
          <label for="user_pwd">{{tpl:lang Password:}}</label>
          <input type="password" size="30" name="user_pwd" id="user_pwd" maxlength="255" />
          <p class="note">{{tpl:lang Should be at least 6 characters long.}}</p>
        </div>
        <div>
          <label for="user_pwd_cf">{{tpl:lang Repeat password:}}</label>
          <input type="password" size="30" name="user_pwd_cf" id="user_pwd_cf" maxlength="255" />
        </div>
      </fieldset>
      <fieldset>
        <div class="controlset">
          <input type="submit" name="update" value="{{tpl:lang Update account}}" />
        </div>
      </fieldset>
    </form>
    
    <h2>{{tpl:lang Delete your account}}</h2>
    <p>
      <a href="/my/delete">{{tpl:lang Delete your account now}}</a>
    </p>
    
  </tpl:AuthIf>
  
  <!-- # User is not logged -->
  <tpl:AuthIf logged_in="0">
    <h2>{{tpl:lang Login}}</h2>
    
    <form action="/auth/" method="post">
    <fieldset>
      <div><label for="auth_l">{{tpl:lang Username:}}</label>
        <input type="text" name="auth_l" id="auth_l" size="30" maxlength="32" value="{{tpl:AuthValue type="login" encode_html="1"}}" />
      </div>
      <div><label for="auth_p">{{tpl:lang Password:}}</label>
        <input type="password" name="auth_p" id="auth_p" size="30" maxlength="255" />
      </div>
      <div class="controlset"><input type="hidden" name="auth_r" value="{{tpl:AuthValue type="redir" encode_html="1"}}" />
        <input type="submit" value="{{tpl:lang Login}}" />
      </div>
    </fieldset>
    </form>
    
    <p><a href="/my/recover">{{tpl:lang I forgot my password}}</a></p>
    
    <h2>{{tpl:lang Create your account}}</h2>
    
    <p>{{tpl:lang Dotclear.org account creation will allow you to access our
    community contribution resources (wiki, trac, etc.) with a single identifier and
    password.}}</p>
    
    <p><a href="/my/apply">{{tpl:lang Create an account now}}</a></p>
  </tpl:AuthIf>

{{tpl:include src="_footer.html"}}

</body>
</html>