<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{tpl:BlogLanguage}}" lang="{{tpl:BlogLanguage}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="MSSmartTagsPreventParsing" content="TRUE" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE,NOFOLLOW"}}" />
  
  <title>{{tpl:lang Password recovery}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
  <link rel="schema.dc" href="http://purl.org/dc/elements/1.1/" />
  <meta name="dc.title" lang="{{tpl:BlogLanguage}}" content="{{tpl:lang Password recovery}} &rsaquo; Dotclear &rsaquo; {{tpl:BlogDescription}}" />
  <meta name="dc.language" content="{{tpl:BlogLanguage}}" />
  <meta name="dc.publisher" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="dc.rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="dc.type" content="text" />
  <meta name="dc.format" content="text/html" />
  
  <link rel="top" href="/" title="{{tpl:lang Home}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-my">

{{tpl:include src="_top.html"}}

  <h1>{{tpl:lang Dotclear.org password recovery}}</h1>
  
  <tpl:AuthIf has_error="1">
    <p class="error"><strong>{{tpl:lang Error:}}</strong> {{tpl:AuthValue type="err" encode_html="1"}}</p>
  </tpl:AuthIf>
  
  <p><a href="/my/">&lsaquo; {{tpl:lang Back}}</a></p>
  
  <tpl:AuthIf has_msg="1">
    <p class="message"><strong>{{tpl:AuthValue type="msg" encode_html="1"}}</strong></p>
  </tpl:AuthIf>
  
  <tpl:AuthIf has_msg="0">
    <form action="/my/recover" method="post">
      <fieldset>
        <div>
          <label for="u_login">{{tpl:lang Username:}}</label>
          <input type="text" size="30" name="u_login" id="u_login" maxlength="32"
          value="{{tpl:AuthValue type="login" encode_html="1"}}" />
        </div>
        <div>
          <label for="u_email">{{tpl:lang E-mail:}}</label>
          <input type="text" size="30" name="u_email" id="u_email" maxlength="255"
          value="{{tpl:AuthValue type="email" encode_html="1"}}" />
        </div>
        <div class="controlset">
          <input type="submit" value="{{tpl:lang Recover}}" />
        </div>
      </fieldset>
    </form>
  </tpl:AuthIf>

  
{{tpl:include src="_footer.html"}}

</body>
</html>