h1 {
	margin: 1.5em 0 5px 0;
}

#lang-guess {
	margin: 5px 0 0 0;
	color: #EBA31F;
	font-weight: bold;
}

#getdotclear #download {
	
}
#getdotclear #download h3 {
	line-height: 1em;
	margin: 0;
}
#getdotclear #download a {
	margin: 0 0 10px 10px;
	text-decoration: none;
}
#getdotclear #download h3 a {
	display: block;
	padding: 20px 0 30px 70px;
	margin: 10px 0 0 0;
	border: none;
	background: transparent url(i/dl_stars.png) no-repeat 10px 0;
}

#getdotclear .features h2 {
	display: none;
}
#getdotclear .features ul {
	list-style: none;
	margin: 10px 0 10px 10px;
}
#getdotclear .features li {
	list-style-image: none;
	margin: 6px 0;
	padding: 6px 0 6px 28px;
	background-repeat: no-repeat;
	background-position: 0 0.1em;
	color: #000b15;
}
#getdotclear .features li.f-install	{ background-image: url(i/feat_install.png); }
#getdotclear .features li.f-users		{ background-image: url(i/feat_users.png); }
#getdotclear .features li.f-extend		{ background-image: url(i/feat_extend.png); }
#getdotclear .features li.f-media		{ background-image: url(i/feat_media.png); }
#getdotclear .features li.f-aspect		{ background-image: url(i/feat_aspect.png); }
#getdotclear .features li.f-antispam	{ background-image: url(i/feat_antispam.png); }
#getdotclear .features li.f-pages		{ background-image: url(i/feat_pages.png); }
#getdotclear .features li.f-lang 		{ background-image: url(i/feat_lang.png); }
#getdotclear .features li.f-gpl 		{ background-image: url(i/feat_gpl.png); }
#getdotclear .features li.f-all 		{ background-image: url(i/feat_all.png); }

#news {
	width: 65%;
}
#sidebar {
	width: 33%;
	margin-right: 0;
	margin-left: 1%;
	text-align: left;
}

#news dt {
	clear: left;
	font-size: 1.2em;
}
#news dt .date {
	display: block;
	float: left;
	width: 40px;
	margin-right: 10px;
	font-size: 70%;
}
#news dt .date span {
	display: block;
	text-align: center;
}
#news dt .date .dmonth {
	padding: 3px 0;
	background: #031f4c url(i/dmonth.png) no-repeat top;
	color: #fff;
	font-weight: normal;
}
#news dt .date .dday {
	padding: 3px 0;
	font-size: 180%;
	background: #7c8189 url(i/dday.png) no-repeat bottom;
	color: #fff;
}
#news dd {
	margin-left: 50px;
	margin-bottom: 2em;
}
#news dd p {
	margin: 0.5em 0;
	font-size: 90%;
}
#news dd p.news-content {
	font-size: 1em;
}
#news p.listapart {
	font-weight: bold;
	font-size: 120%;
	background-position: 0 0.4em;
}

#contrib {
	border-bottom: 1px solid #626b73;
}

#users ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: auto;
}
#users li {
	display: block;
	margin: 0 10px 10px 0;
	padding: 0;
	width: 110px;
	float: left;
}
#users li a {
	border: none;
}
#users li a img {
	border-color: #F5F5F5 #DEDEDE #DEDEDE #F5F5F5;
	border-style: solid;
	border-width: 1px;
}

#tour {
	margin-top: 0;
}
#tour h2.btn {
	margin: 0;
	padding: 2px 0 2px 10px;
	background: #626b73 url(i/shots_t_bg.png) no-repeat 9.5em 100%;
	color: #fff;
	width: 10em;
}
#tour ul {
	margin: 0;
	padding: 0;
}
#tour li {
	display: block;
	margin: 0;
	padding: 0;
}
#tour li img {
	
	margin: 0 10px;
	
}
#tour li canvas {
	margin: 0 10px;
}
#tour .carousel {
	width: 100% !important;
	background: #626b73;
}
#tour .carousel li {
	padding-top: 5px;
	padding-bottom: 33px;
}
#tour .carousel a.next, #tour .carousel a.prev {
	display: block;
	width: 20px;
	margin: 0 0 1px 5px;
	float: left;
	color: #fff;
	font-size: 2em;
}
#tour .carousel a.next {
	float: right;
	margin: 0 5px 1px 0;
	text-align: right;
}
#tour.nojs {
	overflow: hidden;
}
#tour.nojs li {
	display: block;
	float: left;
}
#tour.nojs li img {

}

#featured {
	margin: 1em 0;
	padding: 0 0 0.5em 0;
	background: #eff1e0 url(i/translate_b.png) no-repeat bottom left;
}
#featured h2 {
	margin: 0 0 0.4em 0;
	padding: 0.2em 0.4em;
	background: #626b73 url(i/translate_t.png) no-repeat top left;
	text-align: center;
}
#featured h2 a {
	border: none;
	color: #fff;
}
#featured p {
	margin: 0 0.5em 0;
	text-align: center;
}
#featured p a {
	font-size: 1.1em;
	font-weight: bold;
	border: none;
}