.error {
	border: 2px solid #000;
	background: #900;
	color: #fff;
	padding: 1em;
}

.message {
	padding: 1em;
	border: 2px solid #eba31f;
}

div.topbox {
	margin: 0;
	background: #f1efe0 url(i/get_dc_grd.png) repeat-x 0 0;
	border-top: 1px solid #626b73;
	border-bottom: 1px solid #626b73;
	text-align: left;
}

p.listapart {
	background: transparent url(i/arrow.png) no-repeat 0 0.25em;
	padding-left: 14px
}
ul.listapart li {
	list-style-image: url(i/arrow.png);
}
dl.listapart dt {
	background: transparent url(i/arrow.png) no-repeat 0 0.25em;
	padding-left: 14px;
}
dl.listapart dd {
	margin-left: 14px;
}

dl.modules dt {
	margin-bottom: 0.5em;
	background: transparent url(i/bullet_star.png) no-repeat 0 0.25em;
}
dl.modules dd {
	margin-left: 0;
}
dl.modules dd p {
	margin: 0.2em 0 0 0;
}
dl.modules dd img {
	border-width: 1px 0;
	border-style: solid;
	border-color: #ccc;
}

div.extend div h2, div.extend div p {
	margin-left: 80px;
}
div.extend div#themes {
	background: transparent url(i/themes.png) no-repeat 0 10px;
}
div.extend div#plugins {
	background: transparent url(i/plugins.png) no-repeat 0 10px;
}

.excerpt {
	font-size: 1.1em;
	line-height: 1.5;
}

.downlinks h2 {
	margin: 10px 0 0 20px;
	color: #000b15;
	font-size: 2em;
}
.downlinks p {
	margin-left: 20px;
}
.downlinks ul {
	list-style: none;
	margin: 1em 0 1em 20px;
	padding: 0;
}
.downlinks li {
	display: block;
	margin: 20px 0;
	padding: 15px 0;
	list-style-image: none;
}
.downlinks li a {
	margin: 0;
	padding: 0;
	border: none;
	padding: 20px 0 20px 60px;
	background: transparent url(i/dl_link.png) no-repeat 0 0;
	font-size: 2em;
}
.downlinks .dc-loader li a {
	background-image: url(i/dl_stars.png);
	font-size: 1.6em;
}
.downlinks .dc-loader p {
	font-size: 1.1em;
	text-align: justify;
	color: #555;
}

form.paypal {
	display: block;
	margin: 1em 0;
	text-align: center;
}
span.paypal {
	display: block;
	text-align: center;
	margin: 1em 0;
}
form.paypal input.submit, span.paypal a {
	background: #e5e4e2;
	padding: 3px;
	color: #1a2d52;
}
span.paypal a {
	border: 1px solid #EBA31F;
	-moz-border-radius: 4px;
}


dl.users dd {
	margin: 0;
}
dl.users dd a.feed {
	border: none;
}

div.affiliates-img {
	margin-top: 2em;
}
div.affiliates-img img {
	display: block;
	margin-bottom: 5px;
}

div.dokuwiki h2 {
	border: none;
}