/* --------------------------------------------------------
Dotclear.net (c) 2008. All rights reserved.
---------------------------------------------------------*/
/* Gray chart   001400  4c4c4c  737262  c2c1b1  e8e6cf  f1efe0 */

@import url(common.css);
@import url(layout.css);

body {
	margin : 0 0 0 0;
	padding : 0;
	font-family : "DejaVu Sans","Lucida Grande","Bitstream Vera Sans",Helvetica,Arial,sans-serif;
	font-size : 62.5%;
	line-height: 1.25;
	background : #fff;
	color : #000;
}


/* Classes
-------------------------------------------------------- */
.two-cols, .three-cols, .four-cols {
	clear: left;
	position: static;
	overflow: hidden;
}

.two-cols .col {
	width: 49%;
	margin-right: 1%;
	float: left;
}
.three-cols .col {
	width: 32%;
	margin-right: 1%;
	float: left;
}
.four-cols .col {
	width: 24%;
	margin-right: 1%;
	float: left;
}

.clear {
	clear:both;
}