<h2>Sites map</h2>
<ul>
<li>Dotclear
<ul>
<li><a href="http://fr.dotclear.org/">Accueil</a></li>
<li><a href="http://fr.dotclear.org/download">Télécharger</a></li>
<li><a href="http://fr.dotclear.org/extend">Extensions</a></li>
<li><a href="http://fr.dotclear.org/license">Licence</a></li>
</ul>
</li>
<li>À propos
<ul>
<li><a href="http://fr.dotclear.org/about">À propos de Dotclear</a></li>
<li><a href="http://fr.dotclear.org/blog/">Blog</a></li>
<li><a href="http://fr.dotclear.org/contact">Contact</a></li>
<li><a href="http://fr.dotclear.org/association">Association</a></li>
<li><a href="http://fr.dotclear.org/affiliates">Galerie d'images</a></li>
<li><a href="http://fr.dotclear.org/terms">Conditions d'utilisation</a></li>
</ul>
</li>
<li>Aide
<ul>
<li><a href="http://fr.dotclear.org/documentation/">Documentation</a></li>
<li><a href="http://fr.dotclear.org/documentation/2.0/faq">FAQ</a></li>
<li><a href="http://forum.dotclear.org/">Forum</a></li>
<li><a href="http://tips.dotaddict.org/">Trucs & Astuces (Tips)</a></li>
</ul>
</li>
<li>Contribuer
<ul>
<li><a href="http://fr.dotclear.org/my/">Créer un compte</a></li>
<li><a href="http://fr.dotclear.org/donate/">Faire un don</a></li>
<li><a href="http://lab.dotclear.org/">Dotclear Lab</a></li>
<li><a href="http://dev.dotclear.org/2.0">Trac Dotclear 2</a></li>
<li><a href="http://hg.dotclear.org/">Code source</a></li>
</ul>
</li>
<li>Sites associés
<ul>
<li><a href="http://themes.dotaddict.org/galerie-dc2/">Thèmes sur Dotaddict.org</a></li>
<li><a href="http://plugins.dotaddict.org/dc2/">Plugins sur Dotaddict.org</a></li>
</ul>
</li>
</ul>