
/* Forms
-------------------------------------------------------- */
fieldset {
	margin: 1em 0;
	padding: 0.5em;
	border: 1px solid #ddd;
	background: #ececec;
}
legend {
	font-weight: bold;
	margin: 0 0 0.7em 0;
}
input, textarea {
	border-width : 1px;
}
input, textarea, select, option {
	font-size: 1em;
	font-family: arial, sans-serif;
	line-height: 1.25em;
}
input[type=text], input[type=password], input[type=search], textarea {
	background: #fff;
	border-style: solid;
	border-color: #ddd;
}
input[type=text]:focus, input[type=password]:focus, input[type=search]:focus,
textarea:focus {
	border-color: #9ac123;
	background: #f5f5f5;
}
/*
form fieldset div {
	clear: left;
	margin: 0.5em 0;
}
form fieldset div label, form fieldset div span.label {
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
*/
.controlset {
	margin-left: 170px;
}
.controlset label,
.area label {
	float: none;
	display: inline;
}
.area textarea {
	display: block;
	width: 100%;
}
.area .note {
	margin-left: 0;
}
.note {
	clear: left;
	margin: 0 0 0 170px;
	font-style: italic;
}

.required label, .required span.label {
	font-weight: bold;
}
/* A remplacer par l'info en dur dans la source et abbr */
.required label:before, .required span.label:before {
	content: "* ";
	color: #c00;
	font-weight: bold;
}
.controlset label:after {
	content: "";
}

/* BUTTONS */
/* Removes inner padding and border in FF3+  - Knacss */
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: 0;
	padding: 0;
	}
/* tous les boutons - same as admin ≥ DC2.6 interface */
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
	border: 1px solid #ccc;
	padding: 3px 10px;
	line-height: normal !important;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	font-size: .875em;
	}
input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	}
/* validation */
input[type=submit], a.button.submit {
	color: #333;
	background-color: #b8e356;
	background-image: -webkit-gradient(linear,left top,left bottom, from(#b8e356), to(#a5cc52));
	background-image: linear-gradient(#b8e356,#a5cc52);
	border-color: #83c41a;
	font-weight: bold;
	}
input[type=submit]:hover, input[type=submit]:focus,
	input.button.start:hover, input.button.start:focus,
	a.button.submit:hover, a.button.submit:focus {
	background-color: #a5cc52;
	background-image: -webkit-gradient(linear,left top,left bottom, from(#a5cc52),to(#b8e356));
	background-image: linear-gradient(#a5cc52,#b8e356);
	border-color: #83c41a;
	}
/* suppression, reset, "neutres" fond gris */
input[type=button], input.button,
input[type=reset], input[type=submit].reset, input.reset, 
input[type=submit].delete, input.delete,
 a.button, a.button.delete, a.button.reset {
	color: #000;
	background-color: #EAEAEA;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#EAEAEA));
	background-image: linear-gradient(#f9f9f9,#EAEAEA);
	background-repeat: repeat-x;
	border-color: #dfdfdf #dfdfdf #C5C5C5;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	}
input[type=button]:hover, input.button:hover,
	input[type=button]:focus, input.button:focus,
	input[type=reset]:hover, input[type=submit].reset:hover, input.reset:hover, 
	input[type=reset]:focus, input[type=submit].reset:focus, input.reset:focus, 
	input[type=submit].delete:hover, input.delete:hover,
	input[type=submit].delete:focus, input.delete:focus,
	a.button.delete:hover, a.button.reset:hover, a.button:hover,
	a.button.delete:focus, a.button.reset:focus, a.button:focus {
	background-color: #DADADA;
	background-image: -webkit-gradient( linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
	background-image: linear-gradient(#EAEAEA, #DADADA);
	background-repeat: repeat-x;
	border-color: #CCCCCC #CCCCCC #B5B5B5;
	}
/* suppression */
input[type=submit].delete, input.delete, a.button.delete {
	color: #900;
	}
input[type=submit].delete:hover, input.delete:hover, a.button.delete:hover,
	input[type=submit].delete:focus, input.delete:focus, a.button.delete:focus {
	color: #FFFFFF;
	background-color: #B33630;
	background-image: -webkit-gradient( linear, left top, left bottom, from(#DC5F59), to(#B33630));
	background-image: linear-gradient(#DC5F59, #B33630);
	background-repeat: repeat-x;
	border-color: #CD504A;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	}