/* width - %
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }
*/
/* width - em */
.w3em   { width: 3em; }   /* 48px / eq for base_font: 16px */
.w6em   { width: 6em; }   /* 96px   */
.w12em  { width: 12em; }  /* 192px  */
.w15em  { width: 15em; }  /* 240px  */
.w20em  { width: 20em; }  /* 320px  */
.w30em  { width: 30em; }  /* 480px  */
.w40em  { width: 40em; }  /* 640px  */
.w45em  { width: 45em; }  /* 720px  */
.w60em  { width: 60em; }  /* 960px  */
.w64em  { width: 64em; }  /* 1024px */
.w72em  { width: 72em; }  /* 1152px */
/* max-width */
.mw45em,
.max-legible { max-width: 45em;}
.mw56em,
.max-innerpage { max-width: 56em; }
.mw60em,
.max-page { max-width: 60em; }
.mw64em,
.max-site { max-width: 64em; }
/* other max-width */
.mw30em { max-width: 30em; }
.mw72em { max-width: 72em; }

/* table layout */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *,
.col {
	display: table-cell;
	vertical-align: top;
}
/* float layout */
.mod { 
	overflow: hidden;
}
/* blocks that needs to be placed under floats */
.clear,
.line,
.row {
	clear: both;
}
/* blocks that must contain floats */
.clearfix:before,
.line:before,
.mod:before {
	content: " ";
	display: table;
	}
.clearfix:after,
.line:after,
.mod:after {
	clear: both;
}
/* clearers */
.clear {
	clear: both;
	}
.lclear {
	clear: left;
	}
.clearer {
	height: 1px;
	font-size: 1px;
	}
/* inline-block */
.inbl {
	display: inline-block;
	vertical-align: top;
}
/* add some padding to blocks */
.inner {
	padding: .5em;
}

/* no margin, no padding */
.risette {
  margin: 0;
  padding: 0;
}
