@charset "UTF-8";
/**
(c) Association Dotclear - 2013 
*/

/** =================================================================================
Base rules and html5 compatibility by Dotclear Team, 
*  most based on some Koz's habits and:
*  - Comprehensive Base Stylesheet by fvsch - fvsch.com/code/base-stylesheet/
*  - Normalize.css v2.1.3 | MIT License | git.io/normalize
*  - Knacss | WTFYW | by Raphael Goetter | www.knacss.com
* Go to this URLs to see comments and explanations
================================================================================== */
* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  font-size: 100.01%; 
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0; 
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
}
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: none; }
a img { border: none; }
q, cite {
  font-style: italic;
}
q:before, q:after {
  content: "";
}
sup, sub {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b, strong {
  font-weight: bold;
  font-size: 0.9375em; 
}
small {
    font-size: 80%;
}
dfn {
    font-style: italic;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input, button, select {
  vertical-align: middle;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    border: none;
}
input[type="search"] {
  -webkit-appearance: textfield; 
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}
td, th {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}
td:first-child, th:first-child {
  empty-cells: hide;
}
/* scripts */
body > script {display: none !important;}

/* HTML5 for old browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
figure {
  margin: 0;
}
[hidden], template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
