@import "all_sites";
@import "home";
/* line 5, ../sass/screen.scss */
.h-pink {
  color: #c44d58;
}

/* line 6, ../sass/screen.scss */
.h-blue {
  color: #137bbb;
}

/* line 7, ../sass/screen.scss */
.h-grey {
  color: #4c4c4c;
}

/* line 8, ../sass/screen.scss */
.mt0 {
  margin-top: 0;
}

/* line 9, ../sass/screen.scss */
h3 + p {
  margin-top: 0;
}

/* sub-header */
/* line 12, ../sass/screen.scss */
.sub-header {
  background-color: #efefef;
  border-bottom: 1px solid #b2b2b2;
  height: 32px;
  font: normal .938em Arsenal, helvetica, arial, sans-serif;
  padding-top: 5px;
}

/* line 19, ../sass/screen.scss */
.lang a {
  text-decoration: none;
}

/* line 21, ../sass/screen.scss */
.simple-menu {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
}

/* line 26, ../sass/screen.scss */
.simple-menu li {
  display: inline;
  padding: .2em .4em;
}

/* line 30, ../sass/screen.scss */
.simple-menu a {
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
.simple-menu .active a {
  color: #C44D58;
}

/* line 37, ../sass/screen.scss */
#search {
  display: inline-block;
  margin-top: 0;
}

/* line 41, ../sass/screen.scss */
#search h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0 3px 0 0;
  font-weight: normal;
}

/* line 47, ../sass/screen.scss */
#search h2, #search form {
  display: inline-block;
}

/* line 50, ../sass/screen.scss */
#search fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 55, ../sass/screen.scss */
#q {
  border: 1px solid #bfbfbf;
  width: 120px;
  color: #6b6b6b;
  border-radius: 3px;
  padding-right: 20px;
  background: white url(i/loupe.png) no-repeat right center;
}

/* line 63, ../sass/screen.scss */
#search .submit {
  padding: 0;
  border: 1px solid #fff;
  background: none;
  font-weight: bold;
  color: #6b6b6b;
  text-transform: uppercase;
}

/* line 71, ../sass/screen.scss */
#search .submit:hover {
  background: #C44D58;
  color: #fff;
  border: 1px solid #C44D58;
}

/* line 77, ../sass/screen.scss */
#breadcrumb {
  font-size: .813em;
  color: #7E7D77;
  padding-left: 10px;
}

/* line 82, ../sass/screen.scss */
#breadcrumb a {
  color: #7E7D77;
}

/* basic layout */
/* line 87, ../sass/screen.scss */
#content {
  padding: 0 10px;
  max-width: 45em;
}

/* line 92, ../sass/screen.scss */
#sidebar {
  margin-top: 30px;
  padding: 0 10px;
  width: 15em;
}

/* Sidebar styles
-------------------------------------------------------- */
/* line 101, ../sass/screen.scss */
#sidebar h1 {
  color: #137BBA;
  font-size: 1.125em;
  text-transform: uppercase;
}

/* line 106, ../sass/screen.scss */
#sidebar h2 {
  font-size: 1em;
}

/* line 109, ../sass/screen.scss */
#sidebar h3 {
  margin: 1em 0 0.5em;
  color: #279ac4;
}

/* line 113, ../sass/screen.scss */
#sidebar {
  font-size: .875em;
}

/* line 117, ../sass/screen.scss */
#sidebar div div {
  margin-bottom: 2em;
}

/* line 120, ../sass/screen.scss */
#sidebar div div div {
  margin-bottom: 0;
}

/* line 124, ../sass/screen.scss */
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 129, ../sass/screen.scss */
#sidebar li {
  display: block;
  margin: 0;
  padding: 4px 0;
}

/* line 134, ../sass/screen.scss */
#sidebar li a {
  color: #5F6060;
  text-decoration: none;
}

/* line 138, ../sass/screen.scss */
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
  text-decoration: underline;
}

/* line 141, ../sass/screen.scss */
#sidebar ul ul {
  list-style: disc;
  margin: 0;
  padding: 0 0 0 15px;
  border: none;
}

/* line 147, ../sass/screen.scss */
#sidebar li li {
  display: list-item;
  margin: 0.5em 0 0 0;
  padding: 0 0;
  border: none;
}

/* line 154, ../sass/screen.scss */
#topnav ul {
  border-bottom: 1px solid #ffd02c;
  padding: 4px 0;
}

/* line 158, ../sass/screen.scss */
#topnav li {
  display: inline;
  border-bottom: none;
}

/* line 163, ../sass/screen.scss */
#sidebar .syndicate ul {
  border-top: none;
}

/* line 166, ../sass/screen.scss */
#sidebar .syndicate li {
  border-bottom: none;
}

/* line 170, ../sass/screen.scss */
#sidebar .categories li.category-current {
  font-weight: bold;
}

/* line 173, ../sass/screen.scss */
#sidebar .categories li.category-current li {
  font-weight: normal;
}

/* line 177, ../sass/screen.scss */
#sidebar .tags ul {
  border-top: none;
  font-size: 1.1em;
  text-align: justify;
}

/* line 182, ../sass/screen.scss */
#sidebar .tags ul li {
  display: inline;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.8em;
}

/* line 191, ../sass/screen.scss */
ul.tags {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  font-size: 1.3em;
  text-align: justify;
}

/* line 198, ../sass/screen.scss */
ul.tags li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

/* Main content styles
-------------------------------------------------------- */
/* line 209, ../sass/screen.scss */
.day-date {
  font-size: 1em;
  background-color: #ececec;
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
}

/* line 216, ../sass/screen.scss */
.first .day-date {
  background-color: #BBDB58;
}

/* line 218, ../sass/screen.scss */
.post {
  margin: 0 0 2em 0;
}

/* line 221, ../sass/screen.scss */
.dc-home .first .post-title {
  font-weight: bold;
}

/* line 224, ../sass/screen.scss */
.dc-home .post-title {
  color: #C44D58;
  display: inline;
  margin-left: 5px;
  font-weight: normal;
}

/* line 230, ../sass/screen.scss */
.post-title a {
  color: #C44D58;
  text-decoration: none;
}

/* line 234, ../sass/screen.scss */
.post-title a:hover, .post-title a:focus {
  text-decoration: underline;
}

/* line 238, ../sass/screen.scss */
.post-tags {
  list-style: none;
  margin: 1em 0 1em;
  padding: 3px 0;
}

/* line 243, ../sass/screen.scss */
.post-tags li {
  display: inline;
  margin-right: 8px;
  padding: 5px 0 5px 22px;
  background: transparent url(i/tag.png) no-repeat 0 70%;
}

/* line 249, ../sass/screen.scss */
.post-tags li a {
  color: #6b6b6b;
}

/* line 253, ../sass/screen.scss */
.post-info {
  color: #333;
  padding: 3px 0 3px 0.5em;
}

/* line 257, ../sass/screen.scss */
.post-info a {
  color: #333;
}

/* line 265, ../sass/screen.scss */
.share {
  background: transparent url(i/share.png) no-repeat left center;
  font-size: .875em;
  display: block;
  height: 26px;
  width: 389px;
  margin: 10px 0;
  padding: 5px 0 0;
}

/* line 274, ../sass/screen.scss */
.share a {
  padding: 0 14px 0 31px;
  text-decoration: none;
}

/* line 278, ../sass/screen.scss */
.share a:hover, .share a:focus {
  text-decoration: underline;
  background: transparent;
}

/* line 283, ../sass/screen.scss */
a.feed {
  background: transparent url(i/feed.png) no-repeat 0 0.25em;
  padding: 5px 0 5px 22px;
}

/* line 288, ../sass/screen.scss */
.dc-home .first {
  border-bottom: 1px solid #C44D58;
}

/* Post content
-------------------------------------------------------- */
/* line 294, ../sass/screen.scss */
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
  line-height: 1.4em;
}

/* line 297, ../sass/screen.scss */
.post-content acronym, .post-excerpt acronym {
  cursor: help;
  border-bottom: 1px dotted #666;
}

/* line 302, ../sass/screen.scss */
.post-content pre, .post-excerpt pre {
  padding: 10px;
  font: 1.1em 'courier new', courier, monospace;
}

/* line 307, ../sass/screen.scss */
.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
  margin: 0 0 0.5em 0;
  /*	padding: 0 0 0 15px;*/
}

/* .post-content li, .post-excerpt li {
	margin: 0;
	padding: 0;
} */
/* line 317, ../sass/screen.scss */
.post-content blockquote, .post-excerpt blockquote {
  margin: 4px 0 4px 0;
  padding: 0 5px;
  border-left: 4px solid #bfbfbf;
}

/* line 324, ../sass/screen.scss */
#attachments h3 {
  font-size: 1.2em;
}

/* line 328, ../sass/screen.scss */
#attachments ul {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}

/* line 334, ../sass/screen.scss */
#attachments li {
  margin: 0 0 0.6em;
  padding: 2px 10px 2px 18px;
  background: transparent url(i/attach.png) no-repeat 0 50%;
}

/* line 340, ../sass/screen.scss */
#attachments li object {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
/* line 349, ../sass/screen.scss */
#comments {
  clear: both;
}

/* line 352, ../sass/screen.scss */
#comments h3, #comment-form h3, #pings h3 {
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
  padding: 5px;
  margin: 20px 0 8px 0;
  font-size: 1.2em;
}

/* line 362, ../sass/screen.scss */
#comments dt {
  margin: 1.5em 0 0 0;
  padding: 5px 0 16px 0;
  background: transparent url(i/comment-t.png) no-repeat bottom left;
}

/* line 367, ../sass/screen.scss */
#comments dt.me {
  background-image: url(i/commentmy-t.png);
}

/* line 370, ../sass/screen.scss */
#comments a.comment-number {
  display: block;
  float: left;
  width: 30px;
  margin-right: 40px;
  font-size: 1.2em;
}

/* line 377, ../sass/screen.scss */
#comments dd {
  margin: 0;
  padding: 1px 1em 0.5em 1em;
  background: #fffad1 url(i/comment-b.png) no-repeat bottom left;
  color: #6b6b6b;
}

/* line 383, ../sass/screen.scss */
#comments dd.me {
  background-color: #f5f9d9;
  color: #6b6b6b;
  background-image: url(i/commentmy-b.png);
}

/* line 388, ../sass/screen.scss */
#comments dd p {
  margin: 0.5em 0;
  line-height: 1.5em;
}

/* line 393, ../sass/screen.scss */
.error {
  margin: 20px 0 0;
  padding: 10px 5px;
  background: #ffcccc;
  border: 2px solid red;
  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
/* line 403, ../sass/screen.scss */
#comment-form {
  padding-top: 10px;
}

/* line 407, ../sass/screen.scss */
#comment-form fieldset {
  border: none;
}

/* line 410, ../sass/screen.scss */
#comment-form fieldset p {
  padding: 5px 0;
}

/* line 413, ../sass/screen.scss */
#comment-form fieldset p.field {
  padding: 5px 0;
  width: auto;
  margin: 0;
  clear: left;
}

/* line 419, ../sass/screen.scss */
#comment-form p.form-help {
  width: 60%;
  margin: 0 0 0 30%;
  font-style: italic;
}

/* line 425, ../sass/screen.scss */
#comment-form p label {
  width: auto;
}

/* line 428, ../sass/screen.scss */
#comment-form p.field label {
  font-weight: bold;
  display: block;
  padding: 0 1% 0 0;
  width: 29%;
  float: left;
  text-align: right;
}

/* line 436, ../sass/screen.scss */
#comment-form input, #comment-form textarea {
  font: 1em "Lucida Grande",Arial,sans-serif;
  color: #279ac4;
  border: 1px solid #cdcdcd;
  padding: 1px 2px;
  width: 68%;
}

/* line 444, ../sass/screen.scss */
#comment-form p.remember {
  margin: 0;
}

/* line 447, ../sass/screen.scss */
#comment-form input#c_remember {
  width: auto;
  border: 0;
  margin: 0 5px 0 30%;
}

/* line 452, ../sass/screen.scss */
#comment-form input.preview {
  margin-left: 30%;
}

/* line 456, ../sass/screen.scss */
#comment-form input.preview, #comment-form input.submit {
  width: auto;
  color: #279ac4;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
}

/* line 465, ../sass/screen.scss */
#comment-form input.preview:hover, #comment-form input.submit:hover {
  background: #6d8824;
  color: #fff;
  border: 1px solid #6d8824;
}

/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */
/* line 476, ../sass/screen.scss */
table,
.table {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}

/* line 482, ../sass/screen.scss */
table {
  width: 100%;
}

/* line 485, ../sass/screen.scss */
.table {
  display: table;
}

/* line 489, ../sass/screen.scss */
table#recaptcha_table,
table.table-auto {
  table-layout: auto;
}

/* line 492, ../sass/screen.scss */
caption {
  padding: 10px;
  color: #555;
  font-style: italic;
}

/* line 497, ../sass/screen.scss */
table {
  border: 1px solid #ccc;
}

/* line 500, ../sass/screen.scss */
tr > * + * {
  border-left: 1px solid #ccc;
}

/* line 504, ../sass/screen.scss */
th,
td {
  padding: .3em .8em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* line 509, ../sass/screen.scss */
td {
  color: #333;
}

/* alternate tables */
/* line 514, ../sass/screen.scss */
.alternate {
  border: 0;
}

/* line 515, ../sass/screen.scss */
.alternate tbody {
  border: 1px solid #ccc;
}

/* line 518, ../sass/screen.scss */
.alternate thead tr > * + * {
  border-left: 0;
}

/* line 521, ../sass/screen.scss */
.alternate tbody tr > * + * {
  border-left: 1px solid #ccc;
}

/* alternate-vert tables */
/* line 526, ../sass/screen.scss */
.alternate-vert {
  border: 0;
  border-right: 1px solid #ccc;
}

/* line 530, ../sass/screen.scss */
.alternate-vert tr > :first-child {
  border-bottom: 0;
}

/* line 533, ../sass/screen.scss */
.alternate-vert tr > * + * {
  border-top: 1px solid #ccc;
}

/* striped tables */
/* line 538, ../sass/screen.scss */
.striped tbody tr:nth-child(odd) {
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* striped-vert tables */
/* line 544, ../sass/screen.scss */
.striped-vert tr > :first-child {
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* ----------------------------- */
/* ==viewport fixing for RWD     */
/* ----------------------------- */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

/* ----------------------------- */
/* ==desktop and retina medias   */
/* ----------------------------- */
@media (min-width: 641px) {
  /* here go rules for big resources and big screens like: background-images, font-faces, etc. */
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  /* Style adjustments for retina devices */
}
/* ---------------------------------- */
/* ==Responsive large / small / tiny  */
/* ---------------------------------- */
@media (min-width: 1280px) {
  /* layouts for large (l) screens */
  /* line 592, ../sass/screen.scss */
  .large-hidden,
  .tablet-hidden {
    display: none !important;
  }

  /* line 593, ../sass/screen.scss */
  .large-visible {
    display: block !important;
  }

  /* line 594, ../sass/screen.scss */
  .large-no-float {
    float: none;
  }

  /* line 595, ../sass/screen.scss */
  .large-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 600, ../sass/screen.scss */
  .large-row {
    display: table;
    table-layout: fixed;
    width: 100% !important;
  }

  /* line 605, ../sass/screen.scss */
  .large-col {
    display: table-cell;
    vertical-align: top;
  }

  /* widths for large (l) screens */
  /* line 611, ../sass/screen.scss */
  .large-w25 {
    width: 25% !important;
  }

  /* line 612, ../sass/screen.scss */
  .large-w33 {
    width: 33.3333% !important;
  }

  /* line 613, ../sass/screen.scss */
  .large-w50 {
    width: 50% !important;
  }

  /* line 614, ../sass/screen.scss */
  .large-w66 {
    width: 66.6666% !important;
  }

  /* line 615, ../sass/screen.scss */
  .large-w75 {
    width: 75% !important;
  }

  /* line 616, ../sass/screen.scss */
  .large-w100 {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for large (l) screens */
  /* line 627, ../sass/screen.scss */
  .large-ma0 {
    margin: 0 !important;
  }
}
@media (max-width: 768px) {
  /* quick tablet reset */
  /* line 638, ../sass/screen.scss */
  .w600p,
  .w700p,
  .w800p,
  .w960p,
  .mw960p,
  .small-wauto {
    width: auto;
    float: none;
  }

  /* layouts for small (s) screens */
  /* line 655, ../sass/screen.scss */
  .small-hidden,
  .tablet-hidden {
    display: none !important;
  }

  /* line 656, ../sass/screen.scss */
  .small-visible {
    display: block !important;
  }

  /* line 657, ../sass/screen.scss */
  .small-no-float {
    float: none;
  }

  /* line 658, ../sass/screen.scss */
  .small-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 663, ../sass/screen.scss */
  .small-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }

  /* line 668, ../sass/screen.scss */
  .small-col {
    display: table-cell !important;
    vertical-align: top !important;
  }

  /* widths for small (s) screens */
  /* line 674, ../sass/screen.scss */
  .small-w25 {
    width: 25% !important;
  }

  /* line 675, ../sass/screen.scss */
  .small-w33 {
    width: 33.3333% !important;
  }

  /* line 676, ../sass/screen.scss */
  .small-w50 {
    width: 50% !important;
  }

  /* line 677, ../sass/screen.scss */
  .small-w66 {
    width: 66.6666% !important;
  }

  /* line 678, ../sass/screen.scss */
  .small-w75 {
    width: 75% !important;
  }

  /* line 679, ../sass/screen.scss */
  .small-w100 {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for small (s) screens */
  /* line 689, ../sass/screen.scss */
  .small-ma0 {
    margin: 0 !important;
  }
}
@media (max-width: 30em) {
  /* quick smartphone reset */
  /* line 697, ../sass/screen.scss */
  .mod,
  .col,
  fieldset {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* line 708, ../sass/screen.scss */
  .w300p,
  .w400p,
  .w500p {
    width: auto;
    float: none;
  }

  /* line 712, ../sass/screen.scss */
  .row {
    display: block !important;
    width: 100% !important;
  }

  /* layouts for tiny (t) screens */
  /* line 719, ../sass/screen.scss */
  .tiny-hidden,
  .phone-hidden {
    display: none !important;
  }

  /* line 720, ../sass/screen.scss */
  .tiny-visible {
    display: block !important;
  }

  /* line 721, ../sass/screen.scss */
  .tiny-no-float {
    float: none;
  }

  /* line 722, ../sass/screen.scss */
  .tiny-inbl {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  /* line 727, ../sass/screen.scss */
  .tiny-row {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
  }

  /* line 732, ../sass/screen.scss */
  .tiny-col {
    display: table-cell !important;
    vertical-align: top !important;
  }

  /* line 737, ../sass/screen.scss */
  th,
  td {
    display: block !important;
    width: auto !important;
    text-align: left !important;
  }

  /* line 742, ../sass/screen.scss */
  thead {
    display: none;
  }

  /* widths for tiny (t) screens */
  /* line 745, ../sass/screen.scss */
  .tiny-w25 {
    width: 25% !important;
  }

  /* line 746, ../sass/screen.scss */
  .tiny-w33 {
    width: 33.3333% !important;
  }

  /* line 747, ../sass/screen.scss */
  .tiny-w50 {
    width: 50% !important;
  }

  /* line 748, ../sass/screen.scss */
  .tiny-w66 {
    width: 66.6666% !important;
  }

  /* line 749, ../sass/screen.scss */
  .tiny-w75 {
    width: 75% !important;
  }

  /* line 750, ../sass/screen.scss */
  .tiny-w100 {
    display: block !important;
    float: none !important;
    clear: none !important;
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 0;
  }

  /* margins for tiny (t) screens */
  /* line 760, ../sass/screen.scss */
  .tiny-ma0 {
    margin: 0 !important;
  }
}
