@import "variables";

/* Index page */

.slogan {
	text-align: center;
}

h2.slogan {
	font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.highlight {
	color: $highlight;
}
@media screen and (min-width:52em) {
	.screenshot, .features-txt {
		display: inline-block;
		vertical-align: top;
	}
	.ctrl-blog {
		margin: 3em 0;
	}
	.slogan p {
		margin: 1em 5em;
		line-height: 2em;
	}
	.features {
		padding: 2em 3em;
	}
}
.features {
	margin: 2em -.5em;
	background: #efefef url(i/ticks.png);
	padding: 1em;
	text-align: center;
}
.screenshot {
	-webkit-box-shadow: 0 1px 3px #aaa;
	        box-shadow: 0 1px 3px #aaa;
}
.features li {
	list-style: none;
	padding: 2px 0 2px 22px;
	background-repeat: no-repeat;
	background-position: 0 0.3em;
	color: #000b15;
	text-align: left;
}

.features li.f-install	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -6px;
}
.features li.f-users	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -78px;
}
.features li.f-extend	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -258px;
}
.features li.f-media	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -150px;
}
.features li.f-antispam	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -222px;
}
.features li.f-pages	{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -114px;
}
.features li.f-lang 	{ 
	background-image: url(i/feat_sprite.png); 
	background-position: -10px -186px;
}
.features li.f-gpl 		{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -294px;
}
.features li.f-a11y		{
	background-image: url(i/feat_sprite.png);
	background-position: -10px -42px;
}
.more {
	margin: 0 0 2em;
	text-align: right;
	font-size: .875em;
}
.download {
	margin-top: 1.5em;
	text-align: center;
}
a.dl {
	border: 1px solid #83c41a;
	padding: .5em 2em .5em 4.5em;
	line-height: normal !important;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	background-color: #b8e356;
	background-image: -webkit-gradient(linear,left top,left bottom, from(#b8e356), to(#a5cc52));
	background-image: linear-gradient(#b8e356,#a5cc52);
	position: relative;
	font-family: $arsenal;
	font-weight: bold;
}
a.dl:hover, a.dl:focus {
	color: inherit;
	background-color: #a5cc52;
	background-image: -webkit-gradient(linear,left top,left bottom, from(#a5cc52),to(#b8e356));
	background-image: linear-gradient(#a5cc52,#b8e356);
	border-color: #83c41a;
}
a.dl:before {
	position: absolute;
	content: "";
	background: transparent url(i/dl-arrow.png) no-repeat 0 0;
	top: -13px;
	left: 1em;
	width: 36px;
	height: 40px;
	display: block;
}
h3.lastpub, .dev h2, .promo h2 {
	padding-top: 1em;
}
.dc-index .date {
	font-size: .875em;
	color: #666;
}