@charset "UTF-8";
@import "all_sites";
@import "home";

.h-pink { color: #c44d58; }
.h-blue { color: #137bbb; }
.h-grey {color: #4c4c4c; }
.mt0 { margin-top: 0; }
h3+p { margin-top: 0; }

/* sub-header */
.sub-header {
	background-color: #efefef;
	border-bottom: 1px solid #b2b2b2;
	height: 32px;
	font: normal .938em Arsenal, helvetica, arial, sans-serif;
	padding-top: 5px;
}
.lang a { text-decoration: none; }

.simple-menu {
	text-transform: uppercase;
	list-style: none;
	display: inline-block;
}
.simple-menu li {
	display: inline;
	padding: .2em .4em;
}
.simple-menu a {
	text-decoration: none;
}
.simple-menu .active a {
	color: #C44D58;
}

#search {
	display: inline-block;
	margin-top: 0;
}
#search h2 {
	text-transform: uppercase;
	font-size: 1em;
	margin: 0 3px 0 0;
	font-weight: normal;
}
#search h2, #search form {
	display: inline-block;
}
#search fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
#q {
	border: 1px solid #bfbfbf;
	width: 120px;
	color: #6b6b6b;
	border-radius: 3px;
	padding-right: 20px;
	background: #fff url(i/loupe.png) no-repeat right center;
}
#search .submit {
	padding: 0;
	border: 1px solid #fff;
	background: none;
	font-weight: bold;
	color: #6b6b6b;
	text-transform: uppercase;
}
#search .submit:hover {
	background: #C44D58;
	color: #fff;
	border: 1px solid #C44D58;
}

#breadcrumb {
	font-size: .813em;
	color: #7E7D77;
	padding-left: 10px;
}
#breadcrumb a {
	color: #7E7D77;
}

/* basic layout */
#content {
	padding: 0 10px;
	max-width: 45em;
}

#sidebar {
	margin-top: 30px;
	padding: 0 10px;
	width: 15em;
}


/* Sidebar styles
-------------------------------------------------------- */
#sidebar h1 {
	color: #137BBA;
	font-size: 1.125em;
	text-transform: uppercase;
}
#sidebar h2 {
	font-size: 1em;
}
#sidebar h3 {
	margin: 1em 0 0.5em;
	color: #279ac4;
}
#sidebar {
	font-size: .875em;
}

#sidebar div div {
	margin-bottom: 2em;
}
#sidebar div div div {
	margin-bottom: 0;
}

#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar li {
	display: block;
	margin: 0;
	padding: 4px 0;
}
#sidebar li a {
	color: #5F6060;
	text-decoration: none;
}
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
	text-decoration: underline;
}
#sidebar ul ul {
	list-style: disc;
	margin: 0;
	padding: 0 0 0 15px;
	border: none;
}
#sidebar li li {
	display: list-item;
	margin: 0.5em 0 0 0;
	padding: 0 0;
	border: none;
}

#topnav ul {
	border-bottom: 1px solid #ffd02c;
	padding: 4px 0;
}
#topnav li {
	display: inline;
	border-bottom: none;
}

#sidebar .syndicate ul {
	border-top: none;
}
#sidebar .syndicate li {
	border-bottom: none;
}

#sidebar .categories li.category-current {
	font-weight: bold;
}
#sidebar .categories li.category-current li {
	font-weight: normal;
}

#sidebar .tags ul {
	border-top: none;
	font-size: 1.1em;
	text-align: justify;
}
#sidebar .tags ul li {
	display: inline;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1.8em;
}

ul.tags {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	font-size: 1.3em;
	text-align: justify;
}
ul.tags li {
	display: inline;
	margin: 0;
	padding: 0;
	line-height: 1.8em;
}


/* Main content styles
-------------------------------------------------------- */

.day-date {
	font-size: 1em;
	background-color: #ececec;
	display: inline-block;
	padding: 0 3px;
	border-radius: 2px;
}
.first .day-date {background-color: #BBDB58;}

.post {
	margin: 0 0 2em 0;
}
.dc-home .first .post-title {
	font-weight: bold;
}
.dc-home .post-title {
	color: #C44D58;
	display: inline;
	margin-left: 5px;
	font-weight: normal;
}
.post-title a {
	color:#C44D58;
	text-decoration: none;
}
.post-title a:hover, .post-title a:focus {
	text-decoration: underline;
}

.post-tags {
	list-style: none;
	margin: 1em 0 1em;
	padding: 3px 0;
}
.post-tags li {
	display: inline;
	margin-right: 8px;
	padding: 5px 0 5px 22px;
	background: transparent url(i/tag.png) no-repeat 0 70%;
}
.post-tags li a {
	color: #6b6b6b;
}

.post-info {
	color: #333;
	padding: 3px 0 3px 0.5em;
}
.post-info a {
	color: #333;
}

.read-it {

}

.share {
	background: transparent url(i/share.png) no-repeat left center;
	font-size: .875em;
	display: block;
	height: 26px;
	width: 389px;
	margin: 10px 0;
	padding: 5px 0 0;
}
.share a {
	padding: 0 14px 0 31px;
	text-decoration: none;
}
.share a:hover, .share a:focus {
	text-decoration: underline;
	background: transparent;
}

a.feed {
	background: transparent url(i/feed.png) no-repeat 0 0.25em;
	padding: 5px 0 5px 22px;
}

.dc-home .first {
	border-bottom: 1px solid #C44D58;
}

/* Post content
-------------------------------------------------------- */
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
	line-height:1.4em;
}
.post-content acronym, .post-excerpt acronym {
	cursor: help;
	border-bottom: 1px dotted #666;
}

.post-content pre, .post-excerpt pre {
	padding: 10px ;
	font: 1.1em 'courier new', courier, monospace;
}

.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
	margin: 0 0 0.5em 0;
/*	padding: 0 0 0 15px;*/
}

/* .post-content li, .post-excerpt li {
	margin: 0;
	padding: 0;
} */

.post-content blockquote, .post-excerpt blockquote {
	margin: 4px 0 4px 0;
	padding: 0 5px;
	border-left: 4px solid #bfbfbf;
}


#attachments h3 {
	font-size: 1.2em;
}

#attachments ul {
	list-style: none;
	margin: 0;
	padding: 4px 0;
}

#attachments li {
	margin: 0 0 0.6em;
	padding: 2px 10px 2px 18px;
	background: transparent url(i/attach.png) no-repeat 0 50%;
}

#attachments li object {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
	clear: both;
}
#comments h3, #comment-form h3, #pings h3 {
	border-width: 1px 0;
	border-style: solid;
	border-color: #bfbfbf;
	background: #fbfbfb;
	padding: 5px;
	margin: 20px 0 8px 0;
	font-size: 1.2em;
}

#comments dt {
	margin: 1.5em 0 0 0;
	padding: 5px 0 16px 0;
	background: transparent url(i/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
	background-image: url(i/commentmy-t.png);
}
#comments a.comment-number {
	display: block;
	float: left;
	width: 30px;
	margin-right: 40px;
	font-size: 1.2em;
}
#comments dd {
	margin: 0;
	padding: 1px 1em 0.5em 1em;
	background: #fffad1 url(i/comment-b.png) no-repeat bottom left;
	color:#6b6b6b;
}
#comments dd.me {
	background-color:#f5f9d9;
	color:#6b6b6b;
	background-image:url(i/commentmy-b.png);
}
#comments dd p {
	margin: 0.5em 0;
	line-height: 1.5em;
}

.error {
	margin: 20px 0 0;
	padding: 10px 5px;
	background: #ffcccc;
	border: 2px solid red;
	font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
	padding-top: 10px;
}

#comment-form fieldset {
	border: none;
}
#comment-form fieldset p {
	padding: 5px 0;
}
#comment-form fieldset p.field {
	padding: 5px 0;
	width: auto;
	margin: 0;
	clear: left;
}
#comment-form p.form-help {
	width: 60%;
	margin: 0 0 0 30%;
	font-style: italic;
}

#comment-form p label {
	width: auto;
}
#comment-form p.field label {
	font-weight: bold;
	display: block;
	padding: 0 1% 0 0;
	width: 29%;
	float: left;
	text-align: right;
}
#comment-form input, #comment-form textarea {
	font: 1em "Lucida Grande",Arial,sans-serif;
	color: #279ac4;
	border: 1px solid #cdcdcd;
	padding: 1px 2px;	
	width: 68%;
}

#comment-form p.remember {
	margin: 0;
}
#comment-form input#c_remember {
	width: auto;
	border: 0;
	margin: 0 5px 0 30%;
}
#comment-form input.preview {
	margin-left: 30%;
}

#comment-form input.preview, #comment-form input.submit {
	width: auto;
	color: #279ac4;
	background: #fff;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	border: 1px solid #fff;
}
#comment-form input.preview:hover, #comment-form input.submit:hover {
	background: #6d8824;
	color: #fff;
	border: 1px solid #6d8824;
}

/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */

table,
.table {
	max-width : 100%;
	table-layout: fixed;
	border-collapse: collapse;
	vertical-align: top;
}
table {
	width: 100%;
}
.table {
	display: table;
}
table#recaptcha_table,
table.table-auto {
	table-layout:auto;
}
caption {
	padding: 10px;
	color: #555;
	font-style: italic;	
}
table { 
	border: 1px solid #ccc;
}
tr > * + * {
	border-left: 1px solid #ccc;
}
th,
td {
	padding: .3em .8em;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
td {
	color: #333;
}

/* alternate tables */
.alternate { border: 0; }
.alternate tbody { 
	border: 1px solid #ccc; 
}
.alternate thead tr > * + * {
	border-left: 0;
}
.alternate tbody tr > * + * {
	border-left: 1px solid #ccc;
}

/* alternate-vert tables */
.alternate-vert { 
	border: 0;
	border-right: 1px solid #ccc;
}
.alternate-vert tr > :first-child {
	border-bottom: 0;
}
.alternate-vert tr > * + * {
	border-top: 1px solid #ccc;
}

/* striped tables */
.striped tbody tr:nth-child(odd) {
	background: #eee;
	background: rgba(0, 0, 0, .05);
}

/* striped-vert tables */
.striped-vert tr > :first-child {
	background: #eee;
	background: rgba(0, 0, 0, .05);
}

/* ----------------------------- */
/* ==viewport fixing for RWD     */
/* ----------------------------- */
@-webkit-viewport {
	width: device-width;
	zoom: 1.0;
}
@-moz-viewport {
	width: device-width;
	zoom: 1.0;
}
@-ms-viewport {
	width: device-width;
	zoom: 1.0;
}
@-o-viewport {
	width: device-width;
	zoom: 1.0;
}
@viewport {
	width: device-width;
	zoom: 1.0;
}