		<h2>{{tpl:ContactMePageTitle encode_html="1"}}</h2>
				<div class="content-inner">
					<tpl:ContactMeIf sent="1">{{tpl:ContactMeMsgSuccess}}</tpl:ContactMeIf>
					<tpl:ContactMeIf error="1">{{tpl:ContactMeMsgError}}</tpl:ContactMeIf>
					<tpl:ContactMeIf sent="0"> {{tpl:ContactMeFormCaption}}
						<form action="{{tpl:ContactMeURL}}" method="post" id="comment-form" class="contactme">
								<p class="field">
									<label for="c_name">{{tpl:lang Name or nickname}} :</label>
									<input name="c_name" id="c_name" type="text" maxlength="255" value="{{tpl:ContactMeName encode_html="1"}}"  required="required" aria-required="true" />
								</p>
								<p class="field">
									<label for="c_mail">{{tpl:lang Email address}} :</label>
									<input name="c_mail" id="c_mail" type="email" maxlength="255" value="{{tpl:ContactMeEmail encode_html="1"}}"  required="required" aria-required="true" placeholder="email@exemple.com" />
								</p>
								<p class="field">
									<label for="c_subject">{{tpl:lang Subject}} :</label>
									<input name="c_subject" id="c_subject" type="text" maxlength="255" value="{{tpl:ContactMeSubject encode_html="1"}}"  required="required" aria-required="true" />
								</p>
								<p style="display:none">
									<input name="f_mail" type="text" size="30"
        maxlength="255" value="" />
								</p>
								<p class="field">
									<label for="c_message">{{tpl:lang Message}} :</label>
									<textarea name="c_message" id="c_message" rows="7"  required="required" aria-required="true">{{tpl:ContactMeMessage raw="1" encode_html="1"}}</textarea>
								</p>
								<p>
									<input type="submit" class="submit" value="{{tpl:lang send}}" />
								</p>
						</form>
					</tpl:ContactMeIf>
				</div>