<footer id="footer" role="contentinfo">
	<p class="icon">
		<a href="https://twitter.com/dotclear"><img src="/style2013/i/icon-twitter.png" alt="" width="34" height="34"></a>
		<a href="https://www.facebook.com/dotclearofficiel"><img src="/style2013/i/icon-facebook.png" alt="" width="34" height="34"></a>
		<a href="https://plus.google.com/115644278596077975958/posts"><img src="/style2013/i/icon-gplus.png" alt="" width="34" height="34"></a>
		<a href="http://www.linkedin.com/groups/Dotclear-officiel-5109490"><img src="/style2013/i/icon-linkedin.png" alt="" width="34" height="34"></a>
		<a href="{{tpl:BlogFeedURL type="atom"}}"><img src="/style2013/i/icon-rss.png" alt="" width="34" height="34"></a>
		<a href="{{tpl:BlogURL}}contact"><img src="/style2013/i/icon-email.png" alt="" width="34" height="34"></a>
	</p>
	<div class="footer-content">
		<p>dotclear.org &copy; 2003-2013 - Projet animé par l’<a href="{{tpl:BlogURL}}association">Association Dotclear</a>. Les sources sont sous <a href="https://www.gnu.org/licenses/gpl-2.0.html">licence GPL v2</a>.</p>
		<ul class="foot-nav risette"><li><a href="{{tpl:BlogURL}}sitemap">Plan du site</a> -</li><li>&nbsp;<a href="{{tpl:BlogURL}}about">À propos</a> - </li><li><a href="{{tpl:BlogURL}}terms">Conditions d’utilisation</a> -</li><li>&nbsp;<a href="{{tpl:BlogURL}}legal">Mentions légales</a> -</li><li>&nbsp;<a href="{{tpl:BlogURL}}contact">Contact</a></li></ul>
	</div>
	<div id="toTop">Haut de page</div>
</footer>

{{tpl:SysBehavior behavior="publicFooterContent"}}