	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="icon" type="image/png" href="/style2013/i/favicon-dc.png" />
	<link rel="shortcut icon" href="/style2013/i/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/style2013/blog.css" /> 
	<script src="/style2013/js/lib/respond.js"></script>
	<script src="/style2013/js/lib/jquery.js"></script>
	<script src="/style2013/js/rwd-nav.js"></script>
	<script src="/style2013/js/tinynav.js"></script>
	<script src="/style2013/js/totop.js"></script>
	<script src="/../default/js/jquery.cookie.js"></script>
	{{tpl:include src="user_head.html"}}
	{{tpl:SysBehavior behavior="publicHeadContent"}}