<div id="subnav" class="center clearfix">
  <div class="inner-subnav max-page center">
  	<p class="info-navs">Sections</p>
    {{tpl:SimpleMenu class="risette clearfix" id="sub-nav" description="title"}}
   	<p id="switchlangs"><a href="">English version is available</a></p>
  </div>
</div>