<header role="banner" class="header">
  <div class="inner-header max-page center clearfix">
    <p id="prelude" class="skip-links"><a href="#main">{{tpl:lang To content}}</a>
    	<a href="#nav">{{tpl:lang To menu}}</a> <a href="#search">{{tpl:lang To search}}</a>
    </p>
    <!--<div class="compte smaller">
      <form action="#" method="post">
        <p><label for="auth_login">Connexion :</label>
          <input id="auth_login" name="auth_l" size="10" maxlength="32"  type="text" value="login" />
          <input name="auth_p" size="10" maxlength="128" type="password"  value="        " />
          <input type="submit" value="ok" />
        </p>
      </form>
    </div>-->
    <div id="top">
   	  <h1 class="title pt1 pl1">
    	   <a href="{{tpl:BlogURL}}"><img src="/style2013/i/dotclear.png" width="224" height="61" alt="" class="header-img" /><span class="visually-hidden">{{tpl:BlogName encode_html="1"}}</span></a>
  	 </h1>
     <nav id="nav" role="navigation" class="nav-primary">
        <p class="info-navs">Dotclear sites</p>
        <ul class="risette clearfix">
          <li class="cur"><a href="/"><img src="/style2013/i/home.png" alt="Dotclear site" width="19" height="17"></a></li>
          <li><a href="/download">Téléchargements</a></li>
          <li><a href="/documentation/">Documentation</a></li>
          <li><a href="http://dotaddict.org">Personnalisation</a></li>
          <li><a href="http://dev.dotclear.org">Développement</a></li>
          <li><a href="http://forum.dotclear.net">Forum</a></li>
          <li><a href="/blog">Blog</a></li>        
        </ul>
     </nav>
    </div>
  </div>
</header>

  <!-- # --BEHAVIOR-- publicTopAfterContent -->
  {{tpl:SysBehavior behavior="publicTopAfterContent"}}
<div id="subnav" class="center clearfix">
  <div class="inner-subnav max-page center">
    <form action="/language" method="post" id="d-langswitcher">
      <p>
      <select name="lang" onchange="this.form.submit();">
        <option value="feignasses.org" {{tpl:SelectedLang test="feignasses.org"}}>English</option>
        <option value="fr.feignasses.org" {{tpl:SelectedLang test="fr.feignasses.org"}}>Fran&ccedil;ais</option>
      </select>
      </p>
      <noscript><p><input type="submit" value="ok" /></p></noscript>
    </form>
  </div>
</div>