<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:lang Archives}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />

  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  
  <tpl:Archives>
    <link rel="chapter" href="{{tpl:ArchiveURL}}" title="{{tpl:ArchiveDate encode_html="1"}}" />
  </tpl:Archives>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-archive" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">

<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content" role="main">
  
  <div id="content-info">
    <h1>{{tpl:lang Archives}}</h1>
  </div>
  
  <div class="content-inner">
  <tpl:Archives>
    <tpl:ArchivesYearHeader>
      <h3>{{tpl:ArchiveDate format="%Y"}}</h3>
      <ul>
    </tpl:ArchivesYearHeader>
      <li><a href="{{tpl:ArchiveURL}}"
      title="{{tpl:ArchiveDate encode_html="1"}}">{{tpl:ArchiveDate encode_html="1" format="%B"}}</a>
      ({{tpl:ArchiveEntriesCount}})</li>
    <tpl:ArchivesYearFooter>
      </ul>
    </tpl:ArchivesYearFooter>
  </tpl:Archives>
  </div>
  
  </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}


</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>