<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
  
  <title>{{tpl:lang Links}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />

  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
        <link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        
        <tpl:PaginationIf start="0">
        <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  <link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-blogroll" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">

<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content">
  <article class="post">
	  <header id="content-info">
	    <h1 class="post-title">{{tpl:lang Links}}</h1>
	  </header>
	  <tpl:BlogrollPage>
  
	    <tpl:BlogrollPageIfCategoryTitle><h2>{{tpl:BlogrollPageCategoryTitle}}</h2></tpl:BlogrollPageIfCategoryTitle>
	    <dl>
	      <tpl:BlogrollPageLinks>
	        <dt>{{tpl:BlogrollPageLink}}</dt>
	        <tpl:BlogrollPageIfLinkDesc><dd>{{tpl:BlogrollPageLinkDesc}}</dd></tpl:BlogrollPageIfLinkDesc>
	        </tpl:BlogrollPageLinks>
	    </dl>
		</tpl:BlogrollPage>
  </article>
  </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}


</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>