<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />  
  <title>{{tpl:CategoryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
  <meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:CategoryDescription cut_string="180" remove_html="1"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
        <link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        
        <tpl:PaginationIf start="0">
        <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:CategoryFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-category" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">
<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content">

      <div id="content-info">
        <h1><tpl:CategoryParents><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a> » </tpl:CategoryParents>
        {{tpl:CategoryTitle encode_html="1"}}</h1>
        {{tpl:CategoryDescription}}
      </div>

              <tpl:CategoryIf has_entries="1">
              <p class="feed-info">
                <a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}"
                 title="{{tpl:lang This category's entries Atom feed}}" class="feed">{{tpl:lang Entries feed}}</a>
                
                <tpl:SysIf operator="or" comments_active="1" pings_active="1">
                   - <a type="application/atom+xml" href="{{tpl:CategoryFeedURL type="atom"}}/comments"
                   title="{{tpl:lang This category's comments Atom feed}}" class="feed">{{tpl:lang Comments feed}}</a>
                </tpl:SysIf>
              </p>
            </tpl:CategoryIf>
  
      <tpl:CategoryFirstChildren>
        <tpl:CategoriesHeader>
          <div id="subcategories">
          <h2>{{tpl:lang Subcategories}}</h2>
          <ul>
        </tpl:CategoriesHeader>
        <li><a href="{{tpl:CategoryURL}}">{{tpl:CategoryTitle encode_html="1"}}</a></li>
        <tpl:CategoriesFooter>
          </ul>
          </div>
        </tpl:CategoriesFooter>
      </tpl:CategoryFirstChildren>
  
  <tpl:Entries>
    <article id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" role="article">
    	<header>
    		<p class="day-date">{{tpl:EntryDate}}</p>	
    
		    <h2 class="post-title" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}"><a href="{{tpl:EntryURL}}" rel="bookmark">{{tpl:EntryTitle encode_html="1"}}</a></h2>

    
		    <tpl:EntryTags>
		    <tpl:TagsHeader><ul class="post-tags"></tpl:TagsHeader>
		    <li><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
		    <tpl:TagsFooter></ul></tpl:TagsFooter>
		    </tpl:EntryTags>
    
		    <!-- # --BEHAVIOR-- publicEntryBeforeContent -->
		    {{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
    	</header>
	    <!-- # Entry with an excerpt -->
	    <tpl:EntryIf extended="1">
	      <div class="post-content" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">{{tpl:EntryExcerpt}}</div>
	      <p class="read-it"><a href="{{tpl:EntryURL}}"
	      title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue
	      reading}}</a>...</p>
	    </tpl:EntryIf>
	
		    <!-- # Entry without excerpt -->
		    <tpl:EntryIf extended="0">
		      <div class="post-content" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">{{tpl:EntryContent}}</div>
		    </tpl:EntryIf>
    
    	<footer>
		    <!-- # --BEHAVIOR-- publicEntryAfterContent -->
		    {{tpl:SysBehavior behavior="publicEntryAfterContent"}}
    
		    <!-- # Number of comments, trackbacks and attachments -->
		    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
		      <p class="post-info-co">
		    </tpl:EntryIf>
		    <tpl:EntryIf show_comments="1">
		      <a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
		    </tpl:EntryIf>
		    <tpl:EntryIf show_pings="1">
		      <a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
		    <tpl:EntryIf has_attachment="1">
		      <a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
		    <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
		      </p>
		    </tpl:EntryIf>
		</footer>
    </article>
    
    <tpl:EntriesFooter>
      <tpl:Pagination>
        <p class="pagination"><tpl:PaginationIf end="0"><a href="{{tpl:PaginationURL offset="+1"}}" class="prev">&#171;
        {{tpl:lang previous entries}}</a> - </tpl:PaginationIf>
        {{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}
        <tpl:PaginationIf start="0"> - <a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}
        &#187;</a></tpl:PaginationIf></p>
      </tpl:Pagination>
    </tpl:EntriesFooter>
  </tpl:Entries>
   </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}

</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>