<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
	<title>{{tpl:ContactMePageTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}</title>
	<meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
	<meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
	<link rel="profile" href="http://www.w3.org/1999/xhtml/vocab" />
	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />
	{{tpl:include src="_head.html"}}
</head>
<body class="dc-contactme" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">

<div id="main" class="left w66">
		<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
			<div id="content" role="main">
				<div id="content-info">
					<h1>{{tpl:ContactMePageTitle encode_html="1"}}</h1>
				</div>
				<div class="content-inner">
					<tpl:ContactMeIf sent="1">{{tpl:ContactMeMsgSuccess}}</tpl:ContactMeIf>
					<tpl:ContactMeIf error="1">{{tpl:ContactMeMsgError}}</tpl:ContactMeIf>
					<tpl:ContactMeIf sent="0"> {{tpl:ContactMeFormCaption}}
						<form action="{{tpl:ContactMeURL}}" method="post" id="contact-form" class="contactme">
								<p class="field">
									<label for="c_name">{{tpl:lang Name or nickname}} :</label>
									<input name="c_name" id="c_name" type="text" maxlength="255" value="{{tpl:ContactMeName encode_html="1"}}"  required="required" aria-required="true" />
								</p>
								<p class="field">
									<label for="c_mail">{{tpl:lang Email address}} :</label>
									<input name="c_mail" id="c_mail" type="email" maxlength="255" value="{{tpl:ContactMeEmail encode_html="1"}}"  required="required" aria-required="true" placeholder="email@example.com" />
								</p>
								<p class="field">
									<label for="c_site">{{tpl:lang Website}}
										({{tpl:lang optional}}) :</label>
									<input name="c_site" id="c_site" type="url" maxlength="255" value="{{tpl:ContactMeSite encode_html="1"}}" placeholder="http://www.example.com/" />
								</p>
								<p class="field">
									<label for="c_subject">{{tpl:lang Subject}} :</label>
									<input name="c_subject" id="c_subject" type="text" maxlength="255" value="{{tpl:ContactMeSubject encode_html="1"}}"  required="required" aria-required="true" />
								</p>
								<p style="display:none">
									<input name="f_mail" type="text" size="30"
        maxlength="255" value="" />
								</p>
								<p class="field">
									<label for="c_message">{{tpl:lang Message}} :</label>
									<textarea name="c_message" id="c_message" rows="7"  required="required" aria-required="true">{{tpl:ContactMeMessage raw="1" encode_html="1"}}</textarea>
								</p>
								<p>
									<input type="submit" class="submit" value="{{tpl:lang send}}" />
								</p>
						</form>
					</tpl:ContactMeIf>
				</div>
			</div>
		</div>

	{{tpl:include src="_complementary.html"}}
	</div><!-- End #wrapper -->
</div><!-- End #page -->
	{{tpl:include src="_footer.html"}}
</body>
</html>