<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />

	<title>{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
	<meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:title" content="{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:creator" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta property="dc:language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
	<meta property="dc:rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
	<meta property="dc:publisher author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />

  <tpl:Entries no_content="1">
	<tpl:EntriesHeader>
	  <tpl:Pagination>
		<tpl:PaginationIf end="0">
		<link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
		</tpl:PaginationIf>
		
		<tpl:PaginationIf start="0">
		<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
		</tpl:PaginationIf>
	  </tpl:Pagination>
	</tpl:EntriesHeader>
	
  </tpl:Entries>
  
	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="{{tpl:BlogRSDURL}}" />
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-home" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="max-page center">

<div id="main">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content" role="main" vocab="http://schema.org/" typeof="Blog">
    
  <tpl:Entries>
		<!-- First page -->
		<tpl:SysIf current_mode="default">
			<tpl:LoopPosition start="1" length="1">
				{{tpl:include src="_entry-full.html"}}
			</tpl:LoopPosition>
			
			<tpl:LoopPosition start="2">
				{{tpl:include src="_entry-short.html"}}
			</tpl:LoopPosition>
		</tpl:SysIf>
		
		<!-- Next pages -->
		<tpl:SysIf current_mode="!default">
			{{tpl:include src="_entry-short.html"}}
		</tpl:SysIf>  	
		
		<!-- Pagination -->
		<tpl:EntriesFooter>
			{{tpl:include src="_pagination.html"}}
		</tpl:EntriesFooter>
</tpl:Entries>
  </div><!--end content-->
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}

</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>