<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />

	<title>{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf></title>
	<meta name="description" lang="{{tpl:BlogLanguage}}" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:title" content="{{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:creator" content="{{tpl:BlogEditor encode_html="1"}}" />
	<meta property="dc:language" content="{{tpl:BlogLanguage}}" />
	<meta property="dc:description" content="{{tpl:BlogDescription cut_string="180" encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>" />
	<meta property="dc:date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
	<meta property="dc:rights" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
	<meta property="dc:publisher author" content="{{tpl:BlogEditor encode_html="1"}}" />
  
	<link rel="contents" title="{{tpl:lang Archives}}" href="{{tpl:BlogArchiveURL}}" />

  <tpl:Entries no_content="1">
	<tpl:EntriesHeader>
	  <tpl:Pagination>
		<tpl:PaginationIf end="0">
		<link rel="previous" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
		</tpl:PaginationIf>
		
		<tpl:PaginationIf start="0">
		<link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
		</tpl:PaginationIf>
	  </tpl:Pagination>
	</tpl:EntriesHeader>
	
  </tpl:Entries>
  
	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="{{tpl:BlogRSDURL}}" />
	<link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
  
  {{tpl:include src="_head.html"}}
</head>

<body class="dc-index" id="body">
<div id="page">
{{tpl:include src="_top-index.html"}}
<div id="wrapper" class="max-page center">

	<div id="main" role="main" vocab="http://schema.org/" typeof="Blog">
		
		<div class="ctrl-blog">
			<tpl:Entries url="controle-blog" type="page" lastn="1" no_context="1">
				<div class="slogan">{{tpl:EntryExcerpt}}</div>
				<div class="post-content features">{{tpl:EntryContent}}</div>
		  	</tpl:Entries>
		</div>

		<div class="da">
		  <div class="">
			<tpl:Entries url="dotaddict" type="page" lastn="1" no_context="1">
				<h2 class="h-pink">{{tpl:EntryTitle encode_html="1"}}</h2>
				<div class="post-content">{{tpl:EntryContent}}</div>
		  	</tpl:Entries>
		  </div>
		  <div class="">
		  		<h3 class="h-pink h4-like lastpub">{{tpl:lang Last published theme}}</h3>
				<tpl:Widget id="feed">
  					<setting name="title"></setting>
  					<setting name="url">http://feeds.dotaddict.org/da_themes/galdc2</setting>
  					<setting name="limit">1</setting>
  					<setting name="homeonly">0</setting>
  					<setting name="content_only">0</setting>
  					<setting name="class"></setting>
  				</tpl:Widget>
  				<img src="http://placehold.it/270x200" alt="">
  				<h3 class="h-pink h4-like">{{tpl:lang Last published plugins}}</h3>
  				<tpl:Widget id="feed">
  					<setting name="title"></setting>
  					<setting name="url">http://feeds.dotaddict.org/da_plugins/dc2</setting>
  					<setting name="limit">2</setting>
  					<setting name="homeonly">0</setting>
  					<setting name="content_only">0</setting>
  					<setting name="class"></setting>
  				</tpl:Widget>
		  </div>
		</div>

	    <div class="news-dev">
			<div class="">
				<h2 class="h-blue">{{tpl:lang Community}}</h2>
				<div class="news">
					<h3 class="h-blue h4-like">{{tpl:lang On the blog}}</h3>
				  <tpl:Entries lastn="1">
				    
				    <p><span class="date">{{tpl:EntryDate}}</span>
				    <a href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></p>
				    
				    <p class="news-content">{{tpl:EntryContent full="1" remove_html="1" encode_html="1" cut_string="200"}}...</p>

				  </tpl:Entries>
				  <p class="more"><a href="/blog/">{{tpl:lang Dotclear Blog}}</a></p>
				</div>
				<div class="users">
					<h3 class="h-blue h4-like">{{tpl:lang They use Dotclear}}...</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, voluptatibus, corporis explicabo modi saepe eum delectus totam nemo iure temporibus suscipit architecto id sunt illum tempora! Labore nostrum sint quo?</p>
				</div>
				<div class="dev">
					<tpl:Entries url="developpeurs" type="page" lastn="1" no_context="1">
					<h2 class="h-grey">{{tpl:EntryTitle encode_html="1"}}</h2>
					<div class="post-content">{{tpl:EntryContent}}</div>
		  			</tpl:Entries>
				</div>
			</div>
			<div class="promo">
				<h2 class="h-blue h4-like">{{tpl:lang Promotion!}}</h2>
				<tpl:Entries url="Promotion" type="page" lastn="1" no_context="1">
				<div class="post-content">{{tpl:EntryContent}}</div>
		  	</tpl:Entries>
			</div>
		</div>
	</div> <!-- End #main -->

</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>