<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />
	<meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />

	<title>{{tpl:EntryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}</title>
	<meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
	<meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
	<meta name="author" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
	<meta name="date" content="{{tpl:EntryDate iso8601="1"}}" />
	
	<link rel="canonical" href="{{tpl:EntryURL}}" />


	<link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
	<link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  
</head>

<body class="dc-page" id="body">

<div id="page">
{{tpl:EntryPingData}}
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">

<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content" role="main">  
  <article id="p{{tpl:EntryID}}" class="post" role="article">
	<header>
		<h1 class="post-title" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">{{tpl:EntryTitle encode_html="1"}}</h1>
	</header>
		<!-- # --BEHAVIOR-- publicEntryBeforeContent -->
		{{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
	
		<tpl:EntryIf extended="1">
		  <div class="post-excerpt" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">{{tpl:EntryExcerpt}}</div>
		</tpl:EntryIf>
		<div class="post-content" lang="{{tpl:EntryLang}}" xml:lang="{{tpl:EntryLang}}">{{tpl:EntryContent}}</div>

	
	<!-- # --BEHAVIOR-- publicEntryAfterContent -->
	{{tpl:SysBehavior behavior="publicEntryAfterContent"}}
  	<section>
	  <!-- # Attachments -->
	  <tpl:Attachments>
		<tpl:AttachmentsHeader>
		  <div id="attachments">
		  <h2>{{tpl:lang Attachments}}</h2>
		  <ul>
		</tpl:AttachmentsHeader>
		  <li class="{{tpl:AttachmentType}}">
			<tpl:AttachmentIf is_mp3="1">
			  {{tpl:include src="_mp3_player.html"/}} - 
			</tpl:AttachmentIf>
			<tpl:AttachmentIf is_flv="1">
			 {{tpl:include src="_flv_player.html"/}}
		   </tpl:AttachmentIf>
		   <tpl:AttachmentIf is_flv="0">
		   	<a href="{{tpl:AttachmentURL}}"
			title="{{tpl:AttachmentFileName}} ({{tpl:AttachmentSize}})">{{tpl:AttachmentTitle}}</a>
			</tpl:AttachmentIf>
		  </li>
		<tpl:AttachmentsFooter>
		  </ul>
		  </div>
		</tpl:AttachmentsFooter>
	  </tpl:Attachments>
 
	  <!-- # Comments -->
	  <tpl:EntryIf show_comments="1">
		<tpl:Comments>
		<tpl:CommentsHeader>
		  <div id="comments">
			<h2>{{tpl:lang Comments}}</h2>
		</tpl:CommentsHeader>
		  <article id="c{{tpl:CommentID}}" class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}">`
			<header>
				<h4><a href="#c{{tpl:CommentID}}" class="comment-number">{{tpl:CommentOrderNumber}}.</a>
		  		{{tpl:lang On}}  <time datetime="{{tpl:CommentDate iso8601="1"}}" pubdate="">{{tpl:CommentDate}}, {{tpl:CommentTime}}</time>
		  		{{tpl:lang by}} <b class="author">{{tpl:CommentAuthorLink}}</b></h4>
	  		</header>
		  	<div class="{{tpl:CommentIfMe}} {{tpl:CommentIfOdd}} {{tpl:CommentIfFirst}}">
				  <!-- # --BEHAVIOR-- publicCommentBeforeContent -->
				  {{tpl:SysBehavior behavior="publicCommentBeforeContent"}}
  
				  {{tpl:CommentContent}}
  
				  <!-- # --BEHAVIOR-- publicCommentAfterContent -->
				  {{tpl:SysBehavior behavior="publicCommentAfterContent"}}
			</div>
		  </article>
		<tpl:CommentsFooter>
		  </div>
		</tpl:CommentsFooter>
		</tpl:Comments>
	  </tpl:EntryIf>
  
	  <tpl:EntryIf comments_active="1">	
		<tpl:SysIfFormError>
		  <p class="error" id="pr">{{tpl:SysFormError}}</p>
		</tpl:SysIfFormError>
	
		<tpl:SysIfCommentPublished>
		  <p class="message" id="pr">{{tpl:lang Your comment has been published.}}</p>
		</tpl:SysIfCommentPublished>
	
		<tpl:SysIfCommentPending>
		  <p class="message" id="pr">{{tpl:lang Your comment has been submitted and
		  will be reviewed for publication.}}</p>
		</tpl:SysIfCommentPending>
	
			<!-- # Comment form -->
			<form action="{{tpl:EntryURL}}#pr" method="post" id="comment-form">
			  <tpl:IfCommentPreview>
				<div id="pr">
				  <h3>{{tpl:lang Your comment}}</h3>
				  <article>
					<div class="comment-preview">{{tpl:CommentPreviewContent}}</div>
				  </article>
				  <p class="buttons"><input type="submit" class="submit" value="{{tpl:lang send}}" /></p>
				</div>
			  </tpl:IfCommentPreview>
	  
			  <h2>{{tpl:lang Add a comment}}</h2>
				<!-- # --BEHAVIOR-- publicCommentFormBeforeContent -->
				{{tpl:SysBehavior behavior="publicCommentFormBeforeContent"}}
		
				<p class="field"><label for="c_name">{{tpl:lang Name or nickname}} :</label>
				<input required="required" aria-required="true" name="c_name" id="c_name" type="text" maxlength="255"
				value="{{tpl:CommentPreviewName encode_html="1"}}" />
				</p>
		
				<p class="field"><label for="c_mail">{{tpl:lang Email address}} :</label>
				<input required="required" aria-required="true" name="c_mail" id="c_mail" type="email" maxlength="255"
				value="{{tpl:CommentPreviewEmail encode_html="1"}}" placeholder="mail@example.com" />
				</p>
		
				<p class="field"><label for="c_site">{{tpl:lang Website}}
				({{tpl:lang optional}}) :</label>
				<input name="c_site" id="c_site" type="url" maxlength="255"
				value="{{tpl:CommentPreviewSite encode_html="1"}}" placeholder="http://www.example.com/" />
				</p>
		
				<p style="display:none"><input name="f_mail" type="text" size="30"
				maxlength="255" value="" /></p>
		
				<p class="field"><label for="c_content">{{tpl:lang Comment}} :</label>
				<textarea required="required" aria-required="true" name="c_content" id="c_content"
				rows="7">{{tpl:CommentPreviewContent raw="1" encode_html="1"}}</textarea>
				</p>
				<p class="form-help">{{tpl:lang HTML code is displayed as text and web addresses are
				automatically converted.}}</p>
		
				<!-- # --BEHAVIOR-- publicCommentFormAfterContent -->
				{{tpl:SysBehavior behavior="publicCommentFormAfterContent"}}
	  
				<p class="buttons"><input type="submit" class="preview" name="preview" value="{{tpl:lang preview}}" />
				<tpl:IfCommentPreview><input type="submit" class="submit" value="{{tpl:lang send}}" /></tpl:IfCommentPreview></p>
			</form>
		  </tpl:EntryIf>
  
		  <!-- # Trackbacks -->
		  <tpl:EntryIf show_pings="1">
			<div id="pings">
			<h3>{{tpl:lang They posted on the same topic}}</h3>
			<tpl:Pings>
			  <tpl:PingsHeader>
		  
			  </tpl:PingsHeader>
				<article id="c{{tpl:PingID}}" class="{{tpl:PingIfOdd}} {{tpl:PingIfFirst}}">
					<header>
						<h4><a href="#c{{tpl:PingID}}"
							class="ping-number">{{tpl:PingOrderNumber}}.</a>
							{{tpl:lang On}} <time datetime="{{tpl:PingDate iso8601="1"}}" pubdate="">{{tpl:PingDate}}, {{tpl:PingTime}}</time>
							{{tpl:lang by}} {{tpl:PingBlogName encode_html="1"}}
						</h4>
					</header>		
					<div class="{{tpl:PingIfOdd}} {{tpl:PingIfFirst}}">
						<!-- # --BEHAVIOR-- publicPingBeforeContent -->
						{{tpl:SysBehavior behavior="publicPingBeforeContent"}}
		
						<p><a href="{{tpl:PingAuthorURL}}"
						{{tpl:PingNoFollow}}><b class="author">{{tpl:PingTitle encode_html="1"}}</b></a></p>
						{{tpl:PingContent}}
		
						<!-- # --BEHAVIOR-- publicPingAfterContent -->
						{{tpl:SysBehavior behavior="publicPingAfterContent"}}
					</div>
				</article>
			  <tpl:PingsFooter>
		  
			  </tpl:PingsFooter>
			</tpl:Pings>
			</div>
		  </tpl:EntryIf>
		</section>
	</article>
  </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}

</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
<script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/post.js"></script>
<script type="text/javascript">
//<![CDATA[
var post_remember_str = '{{tpl:lang Remember me on this blog}}';
//]]>
</script>
</body>
</html>