<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots}}" />
  
  <title>{{tpl:EntryTitle encode_html="1"}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="description" lang="{{tpl:EntryLang}}" content="{{tpl:EntryContent full="1" encode_html="1" remove_html="1" cut_string="180"}}" />
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:EntryAuthorCommonName encode_html="1"}}" />
  <meta name="date" content="{{tpl:EntryDate iso8601="1"}}" />
	<link rel="canonical" href="{{tpl:EntryURL}}" />
	
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <tpl:EntryNext><link rel="next" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryNext>
  
  <tpl:EntryPrevious><link rel="prev" href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" /></tpl:EntryPrevious>
  
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{tpl:BlogFeedURL type="atom"}}" />
  
  {{tpl:include src="_head.html"}}
  
</head>

<body class="dc-post" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper">

<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content" role="main">
  
  <nav id="navlinks">
  <tpl:EntryPrevious><a href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" class="prev">&#171; {{tpl:EntryTitle encode_html="1"
  cut_string="50"}}</a></tpl:EntryPrevious>
  <tpl:EntryNext> <span>-</span> <a href="{{tpl:EntryURL}}"
  title="{{tpl:EntryTitle encode_html="1"}}" class="next">{{tpl:EntryTitle encode_html="1"
  cut_string="50"}} &#187;</a></tpl:EntryNext>
  </nav>
  
	{{tpl:include src="_simple-entry.html"}}

  </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}

</div> <!-- End #wrapper -->
</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
<script type="text/javascript" src="{{tpl:BlogThemeURL}}/js/post.js"></script>
<script type="text/javascript">
//<![CDATA[
var post_remember_str = '{{tpl:lang Remember me on this blog}}';
//]]>
</script>
</body>
</html>