<!DOCTYPE html>
<!--[if IE 8 ]>    <html  xmlns="http://www.w3.org/1999/xhtml" class="no-js ie8 lte-ie8" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{tpl:BlogLanguage}}" xml:lang="{{tpl:BlogLanguage}}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX"}}" />
  
  <title>{{tpl:lang Tags}} - {{tpl:BlogName encode_html="1"}}</title>
  <meta name="copyright" content="{{tpl:BlogCopyrightNotice encode_html="1"}}" />
  <meta name="author" content="{{tpl:BlogEditor encode_html="1"}}" />
  <meta name="date" content="{{tpl:BlogUpdateDate iso8601="1"}}" />
  
  <link rel="top" href="{{tpl:BlogURL}}" title="{{tpl:lang Home}}" />
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  
  <link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
  
  {{tpl:include src="_head.html"}}
</head>
<body class="dc-tags" id="body">
<div id="page">
{{tpl:include src="_top.html"}}
{{tpl:include src="_subtop.html"}}
<div id="wrapper" class="mw960p center mt1">
<div id="main" class="left w66">
	<p id="breadcrumb">{{tpl:Breadcrumb}}</p>
  <div id="content">
  <article class="post">
	  <header id="content-info">
	    <h1>{{tpl:lang Tags}}</h1>
	  </header>
  
	  <div class="content-inner">  
	  <ul class="tags">
	    <tpl:Tags>
	      <li><a href="{{tpl:TagURL}}" class="tag{{tpl:TagRoundPercent}}">{{tpl:TagID}}</a></li>
	    </tpl:Tags>
	    </ul>
	  </div>
  </article>
  </div>
</div> <!-- End #main -->

{{tpl:include src="_complementary.html"}}


</div> <!-- End #wrapper -->

</div> <!-- End #page -->
{{tpl:include src="_footer.html"}}
</body>
</html>