/**
Just for information - Trac
=====================================================
Stylesheets requested for all dotclear sites:
	- /sites/dotclear.org/www/style2013/all_sites.css
	- /sites/dotclear.org/www/style2013/_rebase.css
	- /sites/dotclear.org/www/style2013/_layout.css
	- /sites/dotclear.org/www/style2013/_forms.css


+ specific Trac stylesheets, which are in:
/share/trac-envs/shared/htdocs/css

Trac templates are in
/usr/share/pyshared/trac/

Some contents are in
* Trac DC:
/share/trac-envs/dotclear2/conf/trac.ini
/share/trac-envs/dotclear2/templates/theme.html

* 
