/* Index page */
/* line 5, newdc/sass/home.scss */
.slogan {
  text-align: center;
}

/* line 9, newdc/sass/home.scss */
h2.slogan {
  font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* line 12, newdc/sass/home.scss */
.highlight {
  color: #c44d58;
}

@media screen and (min-width: 52em) {
  /* line 16, newdc/sass/home.scss */
  .screenshot, .features-txt {
    display: inline-block;
    vertical-align: top;
  }

  /* line 20, newdc/sass/home.scss */
  .ctrl-blog {
    margin: 3em 0;
  }

  /* line 23, newdc/sass/home.scss */
  .slogan p {
    margin: 1em 5em;
    line-height: 2em;
  }

  /* line 27, newdc/sass/home.scss */
  .features {
    padding: 2em 3em;
  }
}
/* line 31, newdc/sass/home.scss */
.features {
  margin: 2em -.5em;
  background: #efefef url(i/ticks.png);
  padding: 1em;
  text-align: center;
}

/* line 37, newdc/sass/home.scss */
.screenshot {
  -webkit-box-shadow: 0 1px 3px #aaa;
  box-shadow: 0 1px 3px #aaa;
}

/* line 41, newdc/sass/home.scss */
.features li {
  list-style: none;
  padding: 2px 0 2px 22px;
  background-repeat: no-repeat;
  background-position: 0 0.3em;
  color: #000b15;
  text-align: left;
}

/* line 50, newdc/sass/home.scss */
.features li.f-install {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -6px;
}

/* line 54, newdc/sass/home.scss */
.features li.f-users {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -78px;
}

/* line 58, newdc/sass/home.scss */
.features li.f-extend {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -258px;
}

/* line 62, newdc/sass/home.scss */
.features li.f-media {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -150px;
}

/* line 66, newdc/sass/home.scss */
.features li.f-antispam {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -222px;
}

/* line 70, newdc/sass/home.scss */
.features li.f-pages {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -114px;
}

/* line 74, newdc/sass/home.scss */
.features li.f-lang {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -186px;
}

/* line 78, newdc/sass/home.scss */
.features li.f-gpl {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -294px;
}

/* line 82, newdc/sass/home.scss */
.features li.f-a11y {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -42px;
}

/* line 86, newdc/sass/home.scss */
.more {
  margin: 0 0 2em;
  text-align: right;
  font-size: .875em;
}

/* line 91, newdc/sass/home.scss */
.download {
  margin-top: 1.5em;
  text-align: center;
}

/* line 95, newdc/sass/home.scss */
a.dl {
  border: 1px solid #83c41a;
  padding: .5em 2em .5em 4.5em;
  line-height: normal !important;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #b8e356;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8e356), to(#a5cc52));
  background-image: linear-gradient(#b8e356, #a5cc52);
  position: relative;
  font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
  font-weight: bold;
}

/* line 112, newdc/sass/home.scss */
a.dl:hover, a.dl:focus {
  color: inherit;
  background-color: #a5cc52;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5cc52), to(#b8e356));
  background-image: linear-gradient(#a5cc52, #b8e356);
  border-color: #83c41a;
}

/* line 119, newdc/sass/home.scss */
a.dl:before {
  position: absolute;
  content: "";
  background: transparent url(i/dl-arrow.png) no-repeat 0 0;
  top: -13px;
  left: 1em;
  width: 36px;
  height: 40px;
  display: block;
}

/* line 129, newdc/sass/home.scss */
h3.lastpub, .dev h2, .promo h2 {
  padding-top: 1em;
}

/* line 132, newdc/sass/home.scss */
.dc-index .date {
  font-size: .875em;
  color: #666;
}
