@charset "UTF-8";
/**
(c) Association Dotclear - 2013 
*/
/** =================================================================================
Base rules and html5 compatibility by Dotclear Team, 
*  most based on some Koz's habits and:
*  - Comprehensive Base Stylesheet by fvsch - fvsch.com/code/base-stylesheet/
*  - Normalize.css v2.1.3 | MIT License | git.io/normalize
*  - Knacss | WTFYW | by Raphael Goetter | www.knacss.com
* Go to this URLs to see comments and explanations
================================================================================== */
/* line 14, newdc/sass/_rebase.scss */
* {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 19, newdc/sass/_rebase.scss */
html {
  font-size: 100.01%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

/* line 26, newdc/sass/_rebase.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
}

/* line 32, newdc/sass/_rebase.scss */
a {
  background: transparent;
}

/* line 33, newdc/sass/_rebase.scss */
a:focus {
  outline: thin dotted;
}

/* line 34, newdc/sass/_rebase.scss */
a:active, a:hover {
  outline: none;
}

/* line 35, newdc/sass/_rebase.scss */
a img {
  border: none;
}

/* line 36, newdc/sass/_rebase.scss */
q, cite {
  font-style: italic;
}

/* line 39, newdc/sass/_rebase.scss */
q:before, q:after {
  content: "";
}

/* line 42, newdc/sass/_rebase.scss */
sup, sub {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 48, newdc/sass/_rebase.scss */
sup {
  top: -0.5em;
}

/* line 49, newdc/sass/_rebase.scss */
sub {
  bottom: -0.25em;
}

/* line 50, newdc/sass/_rebase.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 54, newdc/sass/_rebase.scss */
b, strong {
  font-weight: bold;
  font-size: 0.9375em;
}

/* line 58, newdc/sass/_rebase.scss */
small {
  font-size: 80%;
}

/* line 61, newdc/sass/_rebase.scss */
dfn {
  font-style: italic;
}

/* line 64, newdc/sass/_rebase.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 69, newdc/sass/_rebase.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 73, newdc/sass/_rebase.scss */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 77, newdc/sass/_rebase.scss */
pre {
  white-space: pre-wrap;
}

/* line 80, newdc/sass/_rebase.scss */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 85, newdc/sass/_rebase.scss */
input, button, select {
  vertical-align: middle;
}

/* line 88, newdc/sass/_rebase.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 93, newdc/sass/_rebase.scss */
button, input {
  line-height: normal;
}

/* line 96, newdc/sass/_rebase.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 103, newdc/sass/_rebase.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 107, newdc/sass/_rebase.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  border: none;
}

/* line 112, newdc/sass/_rebase.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 115, newdc/sass/_rebase.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 119, newdc/sass/_rebase.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 124, newdc/sass/_rebase.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 128, newdc/sass/_rebase.scss */
table {
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

/* line 132, newdc/sass/_rebase.scss */
td, th {
  padding: 1px;
  vertical-align: top;
  text-align: left;
}

/* line 137, newdc/sass/_rebase.scss */
td:first-child, th:first-child {
  empty-cells: hide;
}

/* scripts */
/* line 141, newdc/sass/_rebase.scss */
body > script {
  display: none !important;
}

/* HTML5 for old browsers */
/* line 144, newdc/sass/_rebase.scss */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 148, newdc/sass/_rebase.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 151, newdc/sass/_rebase.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 155, newdc/sass/_rebase.scss */
figure {
  margin: 0;
}

/* line 158, newdc/sass/_rebase.scss */
[hidden], template {
  display: none;
}

/* line 161, newdc/sass/_rebase.scss */
svg:not(:root) {
  overflow: hidden;
}

/* width - %
.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.3333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%; }
.w66    { width: 66.6666%; }
.w70    { width: 70%; }
.w75    { width: 75%; }
.w80    { width: 80%; }
.w90    { width: 90%; }
.w100   { width: 100%; }
*/
/* width - em */
/* line 18, newdc/sass/_layout.scss */
.w3em {
  width: 3em;
}

/* 48px / eq for base_font: 16px */
/* line 19, newdc/sass/_layout.scss */
.w6em {
  width: 6em;
}

/* 96px   */
/* line 20, newdc/sass/_layout.scss */
.w12em {
  width: 12em;
}

/* 192px  */
/* line 21, newdc/sass/_layout.scss */
.w15em {
  width: 15em;
}

/* 240px  */
/* line 22, newdc/sass/_layout.scss */
.w20em {
  width: 20em;
}

/* 320px  */
/* line 23, newdc/sass/_layout.scss */
.w30em {
  width: 30em;
}

/* 480px  */
/* line 24, newdc/sass/_layout.scss */
.w40em {
  width: 40em;
}

/* 640px  */
/* line 25, newdc/sass/_layout.scss */
.w45em {
  width: 45em;
}

/* 720px  */
/* line 26, newdc/sass/_layout.scss */
.w60em {
  width: 60em;
}

/* 960px  */
/* line 27, newdc/sass/_layout.scss */
.w64em {
  width: 64em;
}

/* 1024px */
/* line 28, newdc/sass/_layout.scss */
.w72em {
  width: 72em;
}

/* 1152px */
/* max-width */
/* line 30, newdc/sass/_layout.scss */
.mw45em,
.max-legible {
  max-width: 45em;
}

/* line 32, newdc/sass/_layout.scss */
.mw56em,
.max-innerpage {
  max-width: 56em;
}

/* line 34, newdc/sass/_layout.scss */
.mw60em,
.max-page {
  max-width: 60em;
}

/* line 36, newdc/sass/_layout.scss */
.mw64em,
.max-site {
  max-width: 64em;
}

/* other max-width */
/* line 39, newdc/sass/_layout.scss */
.mw30em {
  max-width: 30em;
}

/* line 40, newdc/sass/_layout.scss */
.mw72em {
  max-width: 72em;
}

/* table layout */
/* line 43, newdc/sass/_layout.scss */
.row {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 48, newdc/sass/_layout.scss */
.row > *,
.col {
  display: table-cell;
  vertical-align: top;
}

/* float layout */
/* line 54, newdc/sass/_layout.scss */
.mod {
  overflow: hidden;
}

/* blocks that needs to be placed under floats */
/* line 58, newdc/sass/_layout.scss */
.clear,
.line,
.row {
  clear: both;
}

/* blocks that must contain floats */
/* line 64, newdc/sass/_layout.scss */
.clearfix:before,
.line:before,
.mod:before {
  content: " ";
  display: table;
}

/* line 70, newdc/sass/_layout.scss */
.clearfix:after,
.line:after,
.mod:after {
  clear: both;
}

/* clearers */
/* line 76, newdc/sass/_layout.scss */
.clear {
  clear: both;
}

/* line 79, newdc/sass/_layout.scss */
.lclear {
  clear: left;
}

/* line 82, newdc/sass/_layout.scss */
.clearer {
  height: 1px;
  font-size: 1px;
}

/* inline-block */
/* line 87, newdc/sass/_layout.scss */
.inbl {
  display: inline-block;
  vertical-align: top;
}

/* add some padding to blocks */
/* line 92, newdc/sass/_layout.scss */
.inner {
  padding: .5em;
}

/* no margin, no padding */
/* line 97, newdc/sass/_layout.scss */
.risette {
  margin: 0;
  padding: 0;
}

/* Forms
-------------------------------------------------------- */
/* line 4, newdc/sass/_forms.scss */
fieldset {
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #ddd;
  background: #ececec;
}

/* line 10, newdc/sass/_forms.scss */
legend {
  font-weight: bold;
  margin: 0 0 0.7em 0;
}

/* line 14, newdc/sass/_forms.scss */
input, textarea {
  border-width: 1px;
}

/* line 17, newdc/sass/_forms.scss */
input, textarea, select, option {
  font-size: 1em;
  font-family: arial, sans-serif;
  line-height: 1.25em;
}

/* line 22, newdc/sass/_forms.scss */
input[type=text], input[type=password], input[type=search], textarea {
  background: #fff;
  border-style: solid;
  border-color: #ddd;
}

/* line 27, newdc/sass/_forms.scss */
input[type=text]:focus, input[type=password]:focus, input[type=search]:focus,
textarea:focus {
  border-color: #9ac123;
  background: #f5f5f5;
}

/*
form fieldset div {
	clear: left;
	margin: 0.5em 0;
}
form fieldset div label, form fieldset div span.label {
	display: block;
	position: relative;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
*/
/* line 47, newdc/sass/_forms.scss */
.controlset {
  margin-left: 170px;
}

/* line 50, newdc/sass/_forms.scss */
.controlset label,
.area label {
  float: none;
  display: inline;
}

/* line 55, newdc/sass/_forms.scss */
.area textarea {
  display: block;
  width: 100%;
}

/* line 59, newdc/sass/_forms.scss */
.area .note {
  margin-left: 0;
}

/* line 62, newdc/sass/_forms.scss */
.note {
  clear: left;
  margin: 0 0 0 170px;
  font-style: italic;
}

/* line 68, newdc/sass/_forms.scss */
.required label, .required span.label {
  font-weight: bold;
}

/* A remplacer par l'info en dur dans la source et abbr */
/* line 72, newdc/sass/_forms.scss */
.required label:before, .required span.label:before {
  content: "* ";
  color: #c00;
  font-weight: bold;
}

/* line 77, newdc/sass/_forms.scss */
.controlset label:after {
  content: "";
}

/* BUTTONS */
/* Removes inner padding and border in FF3+  - Knacss */
/* line 83, newdc/sass/_forms.scss */
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* tous les boutons - same as admin ≥ DC2.6 interface */
/* line 91, newdc/sass/_forms.scss */
a.button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid #ccc;
  padding: 3px 10px;
  line-height: normal !important;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: .875em;
}

/* line 109, newdc/sass/_forms.scss */
input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
}

/* validation */
/* line 115, newdc/sass/_forms.scss */
input[type=submit], a.button.submit {
  color: #333;
  background-color: #b8e356;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8e356), to(#a5cc52));
  background-image: linear-gradient(#b8e356, #a5cc52);
  border-color: #83c41a;
  font-weight: bold;
}

/* line 123, newdc/sass/_forms.scss */
input[type=submit]:hover, input[type=submit]:focus,
input.button.start:hover, input.button.start:focus,
a.button.submit:hover, a.button.submit:focus {
  background-color: #a5cc52;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5cc52), to(#b8e356));
  background-image: linear-gradient(#a5cc52, #b8e356);
  border-color: #83c41a;
}

/* suppression, reset, "neutres" fond gris */
/* line 132, newdc/sass/_forms.scss */
input[type=button], input.button,
input[type=reset], input[type=submit].reset, input.reset,
input[type=submit].delete, input.delete,
a.button, a.button.delete, a.button.reset {
  color: #000;
  background-color: #EAEAEA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#EAEAEA));
  background-image: linear-gradient(#f9f9f9, #EAEAEA);
  background-repeat: repeat-x;
  border-color: #dfdfdf #dfdfdf #C5C5C5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

/* line 144, newdc/sass/_forms.scss */
input[type=button]:hover, input.button:hover,
input[type=button]:focus, input.button:focus,
input[type=reset]:hover, input[type=submit].reset:hover, input.reset:hover,
input[type=reset]:focus, input[type=submit].reset:focus, input.reset:focus,
input[type=submit].delete:hover, input.delete:hover,
input[type=submit].delete:focus, input.delete:focus,
a.button.delete:hover, a.button.reset:hover, a.button:hover,
a.button.delete:focus, a.button.reset:focus, a.button:focus {
  background-color: #DADADA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EAEAEA), to(#DADADA));
  background-image: linear-gradient(#EAEAEA, #DADADA);
  background-repeat: repeat-x;
  border-color: #CCCCCC #CCCCCC #B5B5B5;
}

/* suppression */
/* line 159, newdc/sass/_forms.scss */
input[type=submit].delete, input.delete, a.button.delete {
  color: #900;
}

/* line 162, newdc/sass/_forms.scss */
input[type=submit].delete:hover, input.delete:hover, a.button.delete:hover,
input[type=submit].delete:focus, input.delete:focus, a.button.delete:focus {
  color: #FFFFFF;
  background-color: #B33630;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DC5F59), to(#B33630));
  background-image: linear-gradient(#DC5F59, #B33630);
  background-repeat: repeat-x;
  border-color: #CD504A;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

/**
(c) Tomek et Kozlika pour l'Association Dotclear - 2013
*
*   Thanks to FilamentGroup for responsive main-menu fantastic tutorial:
*   http://filamentgroup.com/lab/responsive_design_approach_for_navigation/
*/
/** =================================================================================
Common rules for dotclear.org & dotclear.net sites, 
*  Fonts
*  Current html tags
*  Layout
*  Classes
================================================================================== */
/**
* FONTES
* Generated by Font Squirrel (http://www.fontsquirrel.com)
*/
@font-face {
  font-family: 'Arsenal';
  src: url("fonts/Arsenal/arsenal-regular-webfont.eot");
  src: local("☺"), url("fonts/Arsenal/arsenal-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Arsenal/arsenal-regular-webfont.woff") format("woff"), url("fonts/Arsenal/arsenal-regular-webfont.ttf") format("truetype"), url("fonts/Arsenal/arsenal-regular-webfont.svg#ArsenalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: url("fonts/Arsenal/arsenal-bold-webfont.eot");
  src: local("☺"), url("fonts/Arsenal/arsenal-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Arsenal/arsenal-bold-webfont.woff") format("woff"), url("fonts/Arsenal/arsenal-bold-webfont.ttf") format("truetype"), url("fonts/Arsenal/arsenal-bold-webfont.svg#ArsenalBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arsenal';
  src: url("fonts/Arsenal/arsenal-italic-webfont.eot");
  src: local("☺"), url("fonts/Arsenal/arsenal-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Arsenal/arsenal-italic-webfont.woff") format("woff"), url("fonts/Arsenal/arsenal-italic-webfont.ttf") format("truetype"), url("fonts/Arsenal/arsenal-italic-webfont.svg#ArsenalItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Arsenal';
  src: url("fonts/Arsenal/arsenal-bolditalic-webfont.eot");
  src: local("☺"), url("fonts/Arsenal/arsenal-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Arsenal/arsenal-bolditalic-webfont.woff") format("woff"), url("fonts/Arsenal/arsenal-bolditalic-webfont.ttf") format("truetype"), url("fonts/Arsenal/arsenal-bolditalic-webfont.svg#ArsenalBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Srcsanspro';
  src: url("fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot");
  src: local("☺"), url("fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro/SourceSansPro-Regular-webfont.woff") format("woff"), url("fonts/SourceSansPro/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("fonts/SourceSansPro/SourceSansPro-Regular-webfont.svg#SrcsansproRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Srcsanspro';
  src: url("fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot");
  src: local("☺"), url("fonts/SourceSansPro/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro/SourceSansPro-Bold-webfont.woff") format("woff"), url("fonts/SourceSansPro/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("fonts/SourceSansPro/SourceSansPro-Bold-webfont.svg#SrcsansproBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Srcsanspro';
  src: url("fonts/SourceSansPro/SourceSansPro-It-webfont.eot");
  src: local("☺"), url("fonts/SourceSansPro/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro/SourceSansPro-It-webfont.woff") format("woff"), url("fonts/SourceSansPro/SourceSansPro-It-webfont.ttf") format("truetype"), url("fonts/SourceSansPro/SourceSansPro-It-webfont.svg#SrcsansproItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Srcsanspro';
  src: url("fonts/SourceSansPro/SourceSansPro-BoldIt-webfont.eot");
  src: local("☺"), url("fonts/SourceSansPro/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro/SourceSansPro-BoldIt-webfont.woff") format("woff"), url("fonts/SourceSansPro/SourceSansPro-BoldIt-webfont.ttf") format("truetype"), url("fonts/SourceSansPro/SourceSansPro-BoldIt-webfont.svg#SrcsansproBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
/**
* MISE EN FORME STANDARD DES BALISES HTML
* ======================================================
*/
/* line 119, newdc/sass/_all_sites.scss */
body {
  background-color: #fff;
  color: #000;
  font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* line 124, newdc/sass/_all_sites.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .5em;
  line-height: 1.25;
}

/* line 128, newdc/sass/_all_sites.scss */
h1, h2 {
  font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
}

/* line 131, newdc/sass/_all_sites.scss */
h1, h2, h3, h4 {
  font-weight: normal;
}

/* line 134, newdc/sass/_all_sites.scss */
h1, .h1-like {
  font-size: 2.25em;
  margin: 0;
}

/* line 135, newdc/sass/_all_sites.scss */
h2, .h2-like {
  font-size: 1.75em;
}

/* line 136, newdc/sass/_all_sites.scss */
h3, .h3-like {
  font-size: 1.5em;
}

/* line 137, newdc/sass/_all_sites.scss */
h4, .h4-like {
  font-size: 1.125em;
}

/* line 138, newdc/sass/_all_sites.scss */
h5, .h5-like {
  font-size: 1em;
}

/* line 139, newdc/sass/_all_sites.scss */
h6, .h6-like {
  font-size: .75em;
}

/* line 140, newdc/sass/_all_sites.scss */
ul, ol {
  margin: 1em 0;
  padding-left: 2em;
}

/* line 144, newdc/sass/_all_sites.scss */
p {
  margin: 1em 0 .5em;
}

/* line 145, newdc/sass/_all_sites.scss */
blockquote {
  margin: 1em 3em;
}

/* line 146, newdc/sass/_all_sites.scss */
blockquote, q {
  font-style: italic;
}

/* line 147, newdc/sass/_all_sites.scss */
blockquote em, q em {
  font-style: normal;
}

/* line 148, newdc/sass/_all_sites.scss */
cite {
  font-size: .9em;
}

/* line 149, newdc/sass/_all_sites.scss */
code, pre {
  font-family: "Andale mono","Courier New", Courier, mono;
  font-size: .875em;
  background: rgba(0, 0, 0, 0.04);
  padding: 2px 4px;
}

/* line 155, newdc/sass/_all_sites.scss */
code {
  color: #b11;
}

/* line 158, newdc/sass/_all_sites.scss */
pre {
  margin: 1em;
  overflow: auto;
  padding: 1px .5em;
  line-height: 1.2;
}

/* line 164, newdc/sass/_all_sites.scss */
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #aaa;
  width: 60%;
  height: 1px;
}

/* line 171, newdc/sass/_all_sites.scss */
em {
  font-style: italic;
}

/* line 174, newdc/sass/_all_sites.scss */
strong {
  font-weight: bold;
}

/* line 177, newdc/sass/_all_sites.scss */
i, b {
  font-style: normal;
  font-weight: normal;
}

/* line 181, newdc/sass/_all_sites.scss */
kbd {
  padding: 0 2px;
  border: 1px solid #999;
}

/* avoid top margins on first content element */
/* line 186, newdc/sass/_all_sites.scss */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* max values */
/* line 201, newdc/sass/_all_sites.scss */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* pictures */
/* line 205, newdc/sass/_all_sites.scss */
img {
  height: auto;
  vertical-align: middle;
}

/* Lists */
/* line 211, newdc/sass/_all_sites.scss */
ul, ol, dl {
  margin: 1em 0 .5em 1.5em;
}

/* line 212, newdc/sass/_all_sites.scss */
ol {
  margin-left: 2em;
}

/* line 213, newdc/sass/_all_sites.scss */
ul ul, ol ol {
  margin-top: .5em;
}

/* line 214, newdc/sass/_all_sites.scss */
ul {
  list-style: url(i/bullet_cl.png);
}

/* line 217, newdc/sass/_all_sites.scss */
ul.unstyled {
  list-style: none;
}

/* line 220, newdc/sass/_all_sites.scss */
ul.risette {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 225, newdc/sass/_all_sites.scss */
ul ul {
  list-style: url(i/bullet_tr.png);
}

/* line 228, newdc/sass/_all_sites.scss */
ul ul ul {
  list-style: url(i/bullet_sq.png);
}

/* line 231, newdc/sass/_all_sites.scss */
ol {
  margin: 0 0 1em 2em;
  padding: 0;
  list-style-type: decimal;
}

/* line 236, newdc/sass/_all_sites.scss */
ol ol {
  list-style-type: upper-roman;
}

/* line 239, newdc/sass/_all_sites.scss */
ol ol ol {
  list-style-type: lower-alpha;
}

/* line 242, newdc/sass/_all_sites.scss */
ol ol ol ol {
  list-style-type: lower-greek;
}

/* line 245, newdc/sass/_all_sites.scss */
dt {
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: bold;
}

/* line 250, newdc/sass/_all_sites.scss */
dd {
  margin: 0 0 0 1em;
  padding: 0;
}

/* links */
/* line 255, newdc/sass/_all_sites.scss */
a {
  color: #000;
}

/* line 256, newdc/sass/_all_sites.scss */
a:hover, a:focus {
  color: #333;
  text-decoration: none;
}

/* line 257, newdc/sass/_all_sites.scss */
a:visited {
  color: #333;
}

/* Reinforce visibility on hover and focus for better accessibility */
/* line 259, newdc/sass/_all_sites.scss */
a:link, a:visited {
  transition: .3s;
}

/* line 260, newdc/sass/_all_sites.scss */
a:hover {
  background: #ececec;
}

/* line 261, newdc/sass/_all_sites.scss */
a:focus {
  background: #676e78;
  color: #fff;
}

/**
* LAYOUT ELEMENTS  
* ======================================================
/* skip-links */
/* line 267, newdc/sass/_all_sites.scss */
.skip-links {
  position: absolute;
}

/* line 270, newdc/sass/_all_sites.scss */
.skip-links a {
  position: absolute;
  left: -7000px;
  padding: 0.5em;
  background: #000;
  color: #000;
  text-decoration: none;
}

/* line 278, newdc/sass/_all_sites.scss */
.skip-links a:focus {
  position: static;
  color: #FFF;
}

/* connexion */
/* line 283, newdc/sass/_all_sites.scss */
.compte {
  float: right;
  background: #ececec;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  margin: 0;
  line-height: 2.2;
}

/* line 291, newdc/sass/_all_sites.scss */
.compte a {
  text-decoration: none;
  font-weight: bold;
}

/* line 295, newdc/sass/_all_sites.scss */
.compte p {
  padding: 0 1em;
  text-align: right;
  margin: 0;
}

/* line 300, newdc/sass/_all_sites.scss */
.compte input[type=text], .compte input[type=password] {
  border-color: #ddd;
  background: #fff;
  font-family: inherit;
  padding: 0 4px;
}

/* line 306, newdc/sass/_all_sites.scss */
.compte input[type=submit] {
  padding: 2px .5em;
}

/**
HEADER
------
*/
/* line 313, newdc/sass/_all_sites.scss */
#top {
  position: relative;
  margin: 1.5em 0 0;
}

/* line 317, newdc/sass/_all_sites.scss */
.header {
  background: #a2cbe9;
}

/* line 320, newdc/sass/_all_sites.scss */
.header h1 {
  font-size: 1em;
  width: 15em;
  height: 3.5em;
  margin-bottom: 1.5em;
}

/* line 326, newdc/sass/_all_sites.scss */
.header h1 a {
  display: block;
}

/* line 329, newdc/sass/_all_sites.scss */
.header h1 a:hover, .header h1 a:focus {
  background-color: transparent;
}

/* line 332, newdc/sass/_all_sites.scss */
.inner-header {
  height: 100%;
  padding: 0 .5em;
}

/* Jouons avec le logo */
/* line 337, newdc/sass/_all_sites.scss */
.header h1 a:link img {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/* line 344, newdc/sass/_all_sites.scss */
.header h1 a:hover img {
  background: transparent;
  -webkit-transform: scale(0.7) rotate(360deg);
  -moz-transform: scale(0.7) rotate(360deg);
  -ms-transform: scale(0.7) rotate(360deg);
  -o-transform: scale(0.7) rotate(360deg);
  transform: scale(0.7) rotate(360deg);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* main-nav */
/* line 359, newdc/sass/_all_sites.scss */
#nav {
  font: normal 1em Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
}

/* line 362, newdc/sass/_all_sites.scss */
.info-navs {
  position: absolute;
  left: -999em;
}

/* line 366, newdc/sass/_all_sites.scss */
#nav ul {
  border: 1px solid #e6e6e6;
}

/* line 369, newdc/sass/_all_sites.scss */
#nav li {
  border-bottom: 1px solid #eee;
}

/* line 372, newdc/sass/_all_sites.scss */
#nav li:last-child {
  border-bottom: 0;
}

/* line 375, newdc/sass/_all_sites.scss */
#nav a {
  display: block;
  padding: .5em .8em;
  text-decoration: none;
}

/* line 380, newdc/sass/_all_sites.scss */
#nav a:hover {
  background-color: #f8f8f8;
}

/* line 383, newdc/sass/_all_sites.scss */
#nav a:hover, #nav a:focus, #nav .cur {
  background-color: #efefef;
  color: #333;
}

/* line 387, newdc/sass/_all_sites.scss */
#nav .cur {
  font-weight: bold;
}

/* line 390, newdc/sass/_all_sites.scss */
#nav .cur a {
  color: #C44D58;
  font-weight: bold;
}

/* line 394, newdc/sass/_all_sites.scss */
#nav a img {
  vertical-align: top;
}

/* sub-nav */
/* line 398, newdc/sass/_all_sites.scss */
#subnav {
  clear: both;
  line-height: 1.8;
  background: #FFF;
}

/* line 403, newdc/sass/_all_sites.scss */
#subnav ul {
  text-align: left;
  text-transform: uppercase;
  margin: 0 .5em;
  padding: 0 .5em;
  background: #a2cbe9;
}

/* line 410, newdc/sass/_all_sites.scss */
#subnav li {
  display: inline;
  border-right: 1px solid #137BBB;
  padding: 0 0.5em;
  font-size: .875em;
}

/* line 416, newdc/sass/_all_sites.scss */
#subnav li:last-child {
  border-right: none;
  padding-right: 0;
}

/* line 420, newdc/sass/_all_sites.scss */
#subnav a {
  text-decoration: none;
}

/* line 423, newdc/sass/_all_sites.scss */
#subnav a:hover, #subnav a:focus {
  text-decoration: underline;
}

/* line 426, newdc/sass/_all_sites.scss */
#subnav li.cur a {
  font-weight: bold;
}

/* line 429, newdc/sass/_all_sites.scss */
#switchlangs {
  margin: 0;
  font-size: .875em;
  line-height: 2;
}

/* line 434, newdc/sass/_all_sites.scss */
#switchlangs a {
  text-decoration: underline;
}

/* line 437, newdc/sass/_all_sites.scss */
.tinynav_label, .tinynav {
  display: none;
}

/**
*   Un poil de jQuery pour présenter le menu principal
*   comme un sélecteur (et une icône "hamburger")
*   Le js ajoute une class "nav-menu" au body lorsque
*   ses liens ne tiennent plus sur la même ligne
*/
/* line 446, newdc/sass/_all_sites.scss */
.nav-menu #nav {
  text-align: left;
  margin: 0;
  position: relative;
  overflow: hidden;
  background: #FFF;
}

/* line 453, newdc/sass/_all_sites.scss */
.nav-menu #nav a {
  padding: .5em .8em;
}

/* line 456, newdc/sass/_all_sites.scss */
.nav-menu #nav .info-navs {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  display: block;
  width: 4em;
  padding: .55em 0;
  background: #ccc url(i/hamburger.png) no-repeat center 0.9em;
  text-indent: -999em;
  cursor: pointer;
}

/* line 468, newdc/sass/_all_sites.scss */
.nav-menu #nav.expanded h3 {
  background-position: center .5em;
}

/* line 471, newdc/sass/_all_sites.scss */
.nav-menu #nav li {
  clear: left;
  display: none;
}

/* line 475, newdc/sass/_all_sites.scss */
.nav-menu #nav.expanded li,
.nav-menu #nav li.cur {
  display: list-item;
}

/* line 479, newdc/sass/_all_sites.scss */
.nav-menu #nav li.cur {
  border-bottom-width: 0;
}

/* line 482, newdc/sass/_all_sites.scss */
.nav-menu #nav.expanded li.cur {
  border-bottom-width: 1px;
}

/**
*  MEDIA QUERIES pour le header et la navigation secondaire
*
*  - mobiles : connexion centrée, espace vertical réduit,
*    logo en plus petit, items du sous-menu en "quadrillage",
*    switcher de langue sous le sous-menu
*  - écrans > 672px : menu principal sur une ligne avec onglets,
*    navigation secondaire et switcher sur une seule ligne
*/
@media screen and (max-width: 30em) {
  /* line 496, newdc/sass/_all_sites.scss */
  .compte {
    float: none;
    margin: 0 auto;
  }

  /* line 500, newdc/sass/_all_sites.scss */
  .compte p {
    text-align: center;
  }

  /* line 503, newdc/sass/_all_sites.scss */
  #top {
    margin-top: 1em;
  }

  /* line 506, newdc/sass/_all_sites.scss */
  .header h1 {
    float: left;
    width: 44px;
    height: 38px;
    margin-bottom: .75em;
  }

  /* line 512, newdc/sass/_all_sites.scss */
  .header h1 a {
    width: 38px;
    height: 38px;
    background: transparent url(i/dotclear-mini.png) no-repeat;
  }

  /* line 517, newdc/sass/_all_sites.scss */
  .header h1 a:hover {
    background: #fff url(i/home.png) no-repeat center center;
    border-radius: .5em;
  }

  /* line 521, newdc/sass/_all_sites.scss */
  .header-img {
    display: none;
  }

  /* line 524, newdc/sass/_all_sites.scss */
  .nav-menu #nav .info-navs {
    background-color: #ececec;
    width: 38px;
  }

  /* line 528, newdc/sass/_all_sites.scss */
  .nav-menu #nav li.cur {
    background: #FFF;
  }

  /* line 531, newdc/sass/_all_sites.scss */
  #subnav ul {
    padding: 0;
    background: #FFF;
  }

  /* line 535, newdc/sass/_all_sites.scss */
  #subnav li {
    border-right: none;
    display: block;
    border-bottom: 1px solid #ccc;
    line-height: 2;
    padding: 0;
    width: 50%;
    float: left;
  }

  /* line 544, newdc/sass/_all_sites.scss */
  #subnav li:nth-child(2n+1):last-child {
    width: 100%;
  }

  /* line 547, newdc/sass/_all_sites.scss */
  #subnav li a {
    display: block;
    padding: 0 .5em;
  }

  /* on affiche supprime la liste et on affiche 
  le sous menu en select si js est présent */
  /* line 553, newdc/sass/_all_sites.scss */
  .nav-menu #sub-nav {
    display: none;
  }

  /* line 556, newdc/sass/_all_sites.scss */
  .nav-menu #subnav {
    padding: .5em;
  }

  /* line 559, newdc/sass/_all_sites.scss */
  .nav-menu .tinynav_label {
    display: inline;
    padding: 0 .5em;
  }

  /* line 563, newdc/sass/_all_sites.scss */
  .nav-menu .tinynav {
    font-family: inherit;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #fafafa;
    display: inline-block;
    box-shadow: inset 0 1px 0 #fff;
    color: 0 1px 2px rgba(0, 0, 0, 0.13), inset 0 1px 0 #fff;
    background-image: linear-gradient(bottom, #efefef 0%, #fafafa 100%);
    width: 100%;
  }

  /* line 576, newdc/sass/_all_sites.scss */
  .tinynav option {
    padding-left: 1em;
  }

  /* switcher */
  /* line 580, newdc/sass/_all_sites.scss */
  #switchlangs {
    clear: both;
    margin-top: .5em;
  }

  /* line 584, newdc/sass/_all_sites.scss */
  #wrapper {
    padding-top: 1em;
  }
}
@media screen and (min-width: 42em) {
  /* line 589, newdc/sass/_all_sites.scss */
  #nav {
    text-align: right;
    background: transparent;
  }

  /* line 593, newdc/sass/_all_sites.scss */
  .info-navs {
    left: -999px;
  }

  /* line 596, newdc/sass/_all_sites.scss */
  #nav ul {
    margin-bottom: 0;
    border: none;
  }

  /* line 600, newdc/sass/_all_sites.scss */
  #nav li {
    display: inline-block;
    border-color: #cecece;
    border-bottom: none;
  }

  /* line 605, newdc/sass/_all_sites.scss */
  #nav a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
  }

  /* line 610, newdc/sass/_all_sites.scss */
  #nav a:hover, #nav a:focus, #nav .cur {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* line 616, newdc/sass/_all_sites.scss */
  #subnav ul {
    float: right;
    background: #efefef;
  }

  /* line 620, newdc/sass/_all_sites.scss */
  #subnav {
    background: #efefef;
    border-bottom: 1px solid #ccc;
  }

  /* line 624, newdc/sass/_all_sites.scss */
  #switchlangs {
    margin-left: .5em;
  }
}
/** 
WRAPPER
----------
  Les règles propres internes à chaque appli sont définies
  dans leurs css liées (Trac, blog, dokuwiki…) 
*/
/* line 637, newdc/sass/_all_sites.scss */
#wrapper {
  clear: both;
  padding: 0 .5em;
}

/** 
FOOTER
----------
*/
/* line 646, newdc/sass/_all_sites.scss */
#footer {
  clear: both;
  padding: 0;
  color: #4c4c4c;
  text-align: center;
  margin: 1em 0 0;
  font: normal .875em Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
}

/* line 654, newdc/sass/_all_sites.scss */
#footer a {
  color: #4c4c4c;
}

/* line 657, newdc/sass/_all_sites.scss */
.icon a {
  margin-right: .5em;
}

/* line 660, newdc/sass/_all_sites.scss */
.icon a:hover, .icon a:focus {
  background-color: transparent;
}

/* line 663, newdc/sass/_all_sites.scss */
.icon a:hover img, .icon a:focus img {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 675, newdc/sass/_all_sites.scss */
.footer-content {
  background-color: #a2cbe9;
  margin-top: -1.5em;
  padding: 1.5em 0 1em;
}

/* line 680, newdc/sass/_all_sites.scss */
.foot-nav li {
  display: inline-block;
}

/* line 683, newdc/sass/_all_sites.scss */
.foot-nav a {
  text-decoration: none;
}

/* line 686, newdc/sass/_all_sites.scss */
.foot-nav a:hover, .foot-nav a:focus {
  text-decoration: underline;
}

/* use with script totop.js */
/* line 690, newdc/sass/_all_sites.scss */
#toTop {
  width: 110px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background: #f7f7f7;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #333;
  font-size: 1em;
}

/**
* CLASSES COMMUNES ET UTILITAIRES
*/
/* alternate font-sizing */
/* line 709, newdc/sass/_all_sites.scss */
.smaller {
  font-size: .75em;
}

/* line 710, newdc/sass/_all_sites.scss */
.small {
  font-size: .875em;
}

/* line 711, newdc/sass/_all_sites.scss */
.big {
  font-size: 1.125em;
}

/* line 712, newdc/sass/_all_sites.scss */
.bigger {
  font-size: 1.25em;
}

/* line 713, newdc/sass/_all_sites.scss */
.biggest {
  font-size: 1.375em;
}

/* text alignments */
/* line 715, newdc/sass/_all_sites.scss */
.txtleft {
  text-align: left;
}

/* line 716, newdc/sass/_all_sites.scss */
.txtright {
  text-align: right;
}

/* line 717, newdc/sass/_all_sites.scss */
.txtcenter {
  text-align: center;
}

/* elemets alignments */
/* line 719, newdc/sass/_all_sites.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 720, newdc/sass/_all_sites.scss */
.left {
  float: left;
}

/* line 721, newdc/sass/_all_sites.scss */
img.left {
  margin-right: 1em;
}

/* line 722, newdc/sass/_all_sites.scss */
.right {
  float: right;
}

/* line 723, newdc/sass/_all_sites.scss */
img.right {
  margin-left: 1em;
}

/* line 724, newdc/sass/_all_sites.scss */
img.left, img.right {
  margin-bottom: 5px;
}

/* hiding content a11y */
/* line 727, newdc/sass/_all_sites.scss */
.visually-hidden {
  position: absolute;
  left: -7000px;
  overflow: hidden;
}

/* Micro clearfix thx to Nicolas Gallagher */
/* line 733, newdc/sass/_all_sites.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 737, newdc/sass/_all_sites.scss */
.clearfix:after {
  clear: both;
}

/* Index page */
/* line 5, newdc/sass/home.scss */
.slogan {
  text-align: center;
}

/* line 9, newdc/sass/home.scss */
h2.slogan {
  font-family: Srcsanspro, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

/* line 12, newdc/sass/home.scss */
.highlight {
  color: #c44d58;
}

@media screen and (min-width: 52em) {
  /* line 16, newdc/sass/home.scss */
  .screenshot, .features-txt {
    display: inline-block;
    vertical-align: top;
  }

  /* line 20, newdc/sass/home.scss */
  .ctrl-blog {
    margin: 3em 0;
  }

  /* line 23, newdc/sass/home.scss */
  .slogan p {
    margin: 1em 5em;
    line-height: 2em;
  }

  /* line 27, newdc/sass/home.scss */
  .features {
    padding: 2em 3em;
  }
}
/* line 31, newdc/sass/home.scss */
.features {
  margin: 2em -.5em;
  background: #efefef url(i/ticks.png);
  padding: 1em;
  text-align: center;
}

/* line 37, newdc/sass/home.scss */
.screenshot {
  -webkit-box-shadow: 0 1px 3px #aaa;
  box-shadow: 0 1px 3px #aaa;
}

/* line 41, newdc/sass/home.scss */
.features li {
  list-style: none;
  padding: 2px 0 2px 22px;
  background-repeat: no-repeat;
  background-position: 0 0.3em;
  color: #000b15;
  text-align: left;
}

/* line 50, newdc/sass/home.scss */
.features li.f-install {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -6px;
}

/* line 54, newdc/sass/home.scss */
.features li.f-users {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -78px;
}

/* line 58, newdc/sass/home.scss */
.features li.f-extend {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -258px;
}

/* line 62, newdc/sass/home.scss */
.features li.f-media {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -150px;
}

/* line 66, newdc/sass/home.scss */
.features li.f-antispam {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -222px;
}

/* line 70, newdc/sass/home.scss */
.features li.f-pages {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -114px;
}

/* line 74, newdc/sass/home.scss */
.features li.f-lang {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -186px;
}

/* line 78, newdc/sass/home.scss */
.features li.f-gpl {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -294px;
}

/* line 82, newdc/sass/home.scss */
.features li.f-a11y {
  background-image: url(i/feat_sprite.png);
  background-position: -10px -42px;
}

/* line 86, newdc/sass/home.scss */
.more {
  margin: 0 0 2em;
  text-align: right;
  font-size: .875em;
}

/* line 91, newdc/sass/home.scss */
.download {
  margin-top: 1.5em;
  text-align: center;
}

/* line 95, newdc/sass/home.scss */
a.dl {
  border: 1px solid #83c41a;
  padding: .5em 2em .5em 4.5em;
  line-height: normal !important;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #b8e356;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b8e356), to(#a5cc52));
  background-image: linear-gradient(#b8e356, #a5cc52);
  position: relative;
  font-family: Arsenal, "arial narrow", "futura condensed", arial, sans-serif;
  font-weight: bold;
}

/* line 112, newdc/sass/home.scss */
a.dl:hover, a.dl:focus {
  color: inherit;
  background-color: #a5cc52;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a5cc52), to(#b8e356));
  background-image: linear-gradient(#a5cc52, #b8e356);
  border-color: #83c41a;
}

/* line 119, newdc/sass/home.scss */
a.dl:before {
  position: absolute;
  content: "";
  background: transparent url(i/dl-arrow.png) no-repeat 0 0;
  top: -13px;
  left: 1em;
  width: 36px;
  height: 40px;
  display: block;
}

/* line 129, newdc/sass/home.scss */
h3.lastpub, .dev h2, .promo h2 {
  padding-top: 1em;
}

/* line 132, newdc/sass/home.scss */
.dc-index .date {
  font-size: .875em;
  color: #666;
}

/* line 5, newdc/sass/screen.scss */
.h-pink {
  color: #c44d58;
}

/* line 6, newdc/sass/screen.scss */
.h-blue {
  color: #137bbb;
}

/* line 7, newdc/sass/screen.scss */
.h-grey {
  color: #4c4c4c;
}

/* line 8, newdc/sass/screen.scss */
.mt0 {
  margin-top: 0;
}

/* line 9, newdc/sass/screen.scss */
h3 + p {
  margin-top: 0;
}

/* sub-header */
/* line 12, newdc/sass/screen.scss */
.sub-header {
  background-color: #efefef;
  border-bottom: 1px solid #b2b2b2;
  height: 32px;
  font: normal .938em Arsenal, helvetica, arial, sans-serif;
  padding-top: 5px;
}

/* line 19, newdc/sass/screen.scss */
.lang a {
  text-decoration: none;
}

/* line 21, newdc/sass/screen.scss */
.simple-menu {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
}

/* line 26, newdc/sass/screen.scss */
.simple-menu li {
  display: inline;
  padding: .2em .4em;
}

/* line 30, newdc/sass/screen.scss */
.simple-menu a {
  text-decoration: none;
}

/* line 33, newdc/sass/screen.scss */
.simple-menu .active a {
  color: #C44D58;
}

/* line 37, newdc/sass/screen.scss */
#search {
  display: inline-block;
  margin-top: 0;
}

/* line 41, newdc/sass/screen.scss */
#search h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0 3px 0 0;
  font-weight: normal;
}

/* line 47, newdc/sass/screen.scss */
#search h2, #search form {
  display: inline-block;
}

/* line 50, newdc/sass/screen.scss */
#search fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 55, newdc/sass/screen.scss */
#q {
  border: 1px solid #bfbfbf;
  width: 120px;
  color: #6b6b6b;
  border-radius: 3px;
  padding-right: 20px;
  background: #fff url(i/loupe.png) no-repeat right center;
}

/* line 63, newdc/sass/screen.scss */
#search .submit {
  padding: 0;
  border: 1px solid #fff;
  background: none;
  font-weight: bold;
  color: #6b6b6b;
  text-transform: uppercase;
}

/* line 71, newdc/sass/screen.scss */
#search .submit:hover {
  background: #C44D58;
  color: #fff;
  border: 1px solid #C44D58;
}

/* line 77, newdc/sass/screen.scss */
#breadcrumb {
  font-size: .813em;
  color: #7E7D77;
  padding-left: 10px;
}

/* line 82, newdc/sass/screen.scss */
#breadcrumb a {
  color: #7E7D77;
}

/* basic layout */
/* line 87, newdc/sass/screen.scss */
#content {
  padding: 0 10px;
  max-width: 45em;
}

/* line 92, newdc/sass/screen.scss */
#sidebar {
  margin-top: 30px;
  padding: 0 10px;
  width: 15em;
}

/* Sidebar styles
-------------------------------------------------------- */
/* line 101, newdc/sass/screen.scss */
#sidebar h1 {
  color: #137BBA;
  font-size: 1.125em;
  text-transform: uppercase;
}

/* line 106, newdc/sass/screen.scss */
#sidebar h2 {
  font-size: 1em;
}

/* line 109, newdc/sass/screen.scss */
#sidebar h3 {
  margin: 1em 0 0.5em;
  color: #279ac4;
}

/* line 113, newdc/sass/screen.scss */
#sidebar {
  font-size: .875em;
}

/* line 117, newdc/sass/screen.scss */
#sidebar div div {
  margin-bottom: 2em;
}

/* line 120, newdc/sass/screen.scss */
#sidebar div div div {
  margin-bottom: 0;
}

/* line 124, newdc/sass/screen.scss */
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 129, newdc/sass/screen.scss */
#sidebar li {
  display: block;
  margin: 0;
  padding: 4px 0;
}

/* line 134, newdc/sass/screen.scss */
#sidebar li a {
  color: #5F6060;
  text-decoration: none;
}

/* line 138, newdc/sass/screen.scss */
#sidebar li a:hover, #sidebar li a:focus, #sidebar li a:active {
  text-decoration: underline;
}

/* line 141, newdc/sass/screen.scss */
#sidebar ul ul {
  list-style: disc;
  margin: 0;
  padding: 0 0 0 15px;
  border: none;
}

/* line 147, newdc/sass/screen.scss */
#sidebar li li {
  display: list-item;
  margin: 0.5em 0 0 0;
  padding: 0 0;
  border: none;
}

/* line 154, newdc/sass/screen.scss */
#topnav ul {
  border-bottom: 1px solid #ffd02c;
  padding: 4px 0;
}

/* line 158, newdc/sass/screen.scss */
#topnav li {
  display: inline;
  border-bottom: none;
}

/* line 163, newdc/sass/screen.scss */
#sidebar .syndicate ul {
  border-top: none;
}

/* line 166, newdc/sass/screen.scss */
#sidebar .syndicate li {
  border-bottom: none;
}

/* line 170, newdc/sass/screen.scss */
#sidebar .categories li.category-current {
  font-weight: bold;
}

/* line 173, newdc/sass/screen.scss */
#sidebar .categories li.category-current li {
  font-weight: normal;
}

/* line 177, newdc/sass/screen.scss */
#sidebar .tags ul {
  border-top: none;
  font-size: 1.1em;
  text-align: justify;
}

/* line 182, newdc/sass/screen.scss */
#sidebar .tags ul li {
  display: inline;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 1.8em;
}

/* line 191, newdc/sass/screen.scss */
ul.tags {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  font-size: 1.3em;
  text-align: justify;
}

/* line 198, newdc/sass/screen.scss */
ul.tags li {
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1.8em;
}

/* Main content styles
-------------------------------------------------------- */
/* line 209, newdc/sass/screen.scss */
.day-date {
  font-size: 1em;
  background-color: #ececec;
  display: inline-block;
  padding: 0 3px;
  border-radius: 2px;
}

/* line 216, newdc/sass/screen.scss */
.first .day-date {
  background-color: #BBDB58;
}

/* line 218, newdc/sass/screen.scss */
.post {
  margin: 0 0 2em 0;
}

/* line 221, newdc/sass/screen.scss */
.dc-home .first .post-title {
  font-weight: bold;
}

/* line 224, newdc/sass/screen.scss */
.dc-home .post-title {
  color: #C44D58;
  display: inline;
  margin-left: 5px;
  font-weight: normal;
}

/* line 230, newdc/sass/screen.scss */
.post-title a {
  color: #C44D58;
  text-decoration: none;
}

/* line 234, newdc/sass/screen.scss */
.post-title a:hover, .post-title a:focus {
  text-decoration: underline;
}

/* line 238, newdc/sass/screen.scss */
.post-tags {
  list-style: none;
  margin: 1em 0 1em;
  padding: 3px 0;
}

/* line 243, newdc/sass/screen.scss */
.post-tags li {
  display: inline;
  margin-right: 8px;
  padding: 5px 0 5px 22px;
  background: transparent url(i/tag.png) no-repeat 0 70%;
}

/* line 249, newdc/sass/screen.scss */
.post-tags li a {
  color: #6b6b6b;
}

/* line 253, newdc/sass/screen.scss */
.post-info {
  color: #333;
  padding: 3px 0 3px 0.5em;
}

/* line 257, newdc/sass/screen.scss */
.post-info a {
  color: #333;
}

/* line 265, newdc/sass/screen.scss */
.share {
  background: transparent url(i/share.png) no-repeat left center;
  font-size: .875em;
  display: block;
  height: 26px;
  width: 389px;
  margin: 10px 0;
  padding: 5px 0 0;
}

/* line 274, newdc/sass/screen.scss */
.share a {
  padding: 0 14px 0 31px;
  text-decoration: none;
}

/* line 278, newdc/sass/screen.scss */
.share a:hover, .share a:focus {
  text-decoration: underline;
  background: transparent;
}

/* line 283, newdc/sass/screen.scss */
a.feed {
  background: transparent url(i/feed.png) no-repeat 0 0.25em;
  padding: 5px 0 5px 22px;
}

/* line 288, newdc/sass/screen.scss */
.dc-home .first {
  border-bottom: 1px solid #C44D58;
}

/* Post content
-------------------------------------------------------- */
/* line 294, newdc/sass/screen.scss */
.post-content, .post-excerpt, #comments dd, #pings dd, dd.comment-preview {
  line-height: 1.4em;
}

/* line 297, newdc/sass/screen.scss */
.post-content acronym, .post-excerpt acronym {
  cursor: help;
  border-bottom: 1px dotted #666;
}

/* line 302, newdc/sass/screen.scss */
.post-content pre, .post-excerpt pre {
  padding: 10px;
  font: 1.1em 'courier new', courier, monospace;
}

/* line 307, newdc/sass/screen.scss */
.post-content ul, .post-excerpt ul, .post-content ol, .post-excerpt ol {
  margin: 0 0 0.5em 0;
  /*	padding: 0 0 0 15px;*/
}

/* .post-content li, .post-excerpt li {
	margin: 0;
	padding: 0;
} */
/* line 317, newdc/sass/screen.scss */
.post-content blockquote, .post-excerpt blockquote {
  margin: 4px 0 4px 0;
  padding: 0 5px;
  border-left: 4px solid #bfbfbf;
}

/* line 324, newdc/sass/screen.scss */
#attachments h3 {
  font-size: 1.2em;
}

/* line 328, newdc/sass/screen.scss */
#attachments ul {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}

/* line 334, newdc/sass/screen.scss */
#attachments li {
  margin: 0 0 0.6em;
  padding: 2px 10px 2px 18px;
  background: transparent url(i/attach.png) no-repeat 0 50%;
}

/* line 340, newdc/sass/screen.scss */
#attachments li object {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

/* Comments and trackbacks
-------------------------------------------------------- */
/* line 349, newdc/sass/screen.scss */
#comments {
  clear: both;
}

/* line 352, newdc/sass/screen.scss */
#comments h3, #comment-form h3, #pings h3 {
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
  padding: 5px;
  margin: 20px 0 8px 0;
  font-size: 1.2em;
}

/* line 362, newdc/sass/screen.scss */
#comments dt {
  margin: 1.5em 0 0 0;
  padding: 5px 0 16px 0;
  background: transparent url(i/comment-t.png) no-repeat bottom left;
}

/* line 367, newdc/sass/screen.scss */
#comments dt.me {
  background-image: url(i/commentmy-t.png);
}

/* line 370, newdc/sass/screen.scss */
#comments a.comment-number {
  display: block;
  float: left;
  width: 30px;
  margin-right: 40px;
  font-size: 1.2em;
}

/* line 377, newdc/sass/screen.scss */
#comments dd {
  margin: 0;
  padding: 1px 1em 0.5em 1em;
  background: #fffad1 url(i/comment-b.png) no-repeat bottom left;
  color: #6b6b6b;
}

/* line 383, newdc/sass/screen.scss */
#comments dd.me {
  background-color: #f5f9d9;
  color: #6b6b6b;
  background-image: url(i/commentmy-b.png);
}

/* line 388, newdc/sass/screen.scss */
#comments dd p {
  margin: 0.5em 0;
  line-height: 1.5em;
}

/* line 393, newdc/sass/screen.scss */
.error {
  margin: 20px 0 0;
  padding: 10px 5px;
  background: #ffcccc;
  border: 2px solid red;
  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
/* line 403, newdc/sass/screen.scss */
#comment-form {
  padding-top: 10px;
}

/* line 407, newdc/sass/screen.scss */
#comment-form fieldset {
  border: none;
}

/* line 410, newdc/sass/screen.scss */
#comment-form fieldset p {
  padding: 5px 0;
}

/* line 413, newdc/sass/screen.scss */
#comment-form fieldset p.field {
  padding: 5px 0;
  width: auto;
  margin: 0;
  clear: left;
}

/* line 419, newdc/sass/screen.scss */
#comment-form p.form-help {
  width: 60%;
  margin: 0 0 0 30%;
  font-style: italic;
}

/* line 425, newdc/sass/screen.scss */
#comment-form p label {
  width: auto;
}

/* line 428, newdc/sass/screen.scss */
#comment-form p.field label {
  font-weight: bold;
  display: block;
  padding: 0 1% 0 0;
  width: 29%;
  float: left;
  text-align: right;
}

/* line 436, newdc/sass/screen.scss */
#comment-form input, #comment-form textarea {
  font: 1em "Lucida Grande",Arial,sans-serif;
  color: #279ac4;
  border: 1px solid #cdcdcd;
  padding: 1px 2px;
  width: 68%;
}

/* line 444, newdc/sass/screen.scss */
#comment-form p.remember {
  margin: 0;
}

/* line 447, newdc/sass/screen.scss */
#comment-form input#c_remember {
  width: auto;
  border: 0;
  margin: 0 5px 0 30%;
}

/* line 452, newdc/sass/screen.scss */
#comment-form input.preview {
  margin-left: 30%;
}

/* line 456, newdc/sass/screen.scss */
#comment-form input.preview, #comment-form input.submit {
  width: auto;
  color: #279ac4;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
}

/* line 465, newdc/sass/screen.scss */
#comment-form input.preview:hover, #comment-form input.submit:hover {
  background: #6d8824;
  color: #fff;
  border: 1px solid #6d8824;
}

/* ----------------------------- */
/* ==tables                      */
/* ----------------------------- */
/* line 475, newdc/sass/screen.scss */
table,
.table {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  vertical-align: top;
}

/* line 482, newdc/sass/screen.scss */
table {
  width: 100%;
}

/* line 485, newdc/sass/screen.scss */
.table {
  display: table;
}

/* line 488, newdc/sass/screen.scss */
table#recaptcha_table,
table.table-auto {
  table-layout: auto;
}

/* line 492, newdc/sass/screen.scss */
caption {
  padding: 10px;
  color: #555;
  font-style: italic;
}

/* line 497, newdc/sass/screen.scss */
table {
  border: 1px solid #ccc;
}

/* line 500, newdc/sass/screen.scss */
tr > * + * {
  border-left: 1px solid #ccc;
}

/* line 503, newdc/sass/screen.scss */
th,
td {
  padding: .3em .8em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* line 509, newdc/sass/screen.scss */
td {
  color: #333;
}

/* alternate tables */
/* line 514, newdc/sass/screen.scss */
.alternate {
  border: 0;
}

/* line 515, newdc/sass/screen.scss */
.alternate tbody {
  border: 1px solid #ccc;
}

/* line 518, newdc/sass/screen.scss */
.alternate thead tr > * + * {
  border-left: 0;
}

/* line 521, newdc/sass/screen.scss */
.alternate tbody tr > * + * {
  border-left: 1px solid #ccc;
}

/* alternate-vert tables */
/* line 526, newdc/sass/screen.scss */
.alternate-vert {
  border: 0;
  border-right: 1px solid #ccc;
}

/* line 530, newdc/sass/screen.scss */
.alternate-vert tr > :first-child {
  border-bottom: 0;
}

/* line 533, newdc/sass/screen.scss */
.alternate-vert tr > * + * {
  border-top: 1px solid #ccc;
}

/* striped tables */
/* line 538, newdc/sass/screen.scss */
.striped tbody tr:nth-child(odd) {
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* striped-vert tables */
/* line 544, newdc/sass/screen.scss */
.striped-vert tr > :first-child {
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* ----------------------------- */
/* ==viewport fixing for RWD     */
/* ----------------------------- */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}
@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}
@-o-viewport {
  width: device-width;
  zoom: 1.0;
}
@viewport {
  width: device-width;
  zoom: 1.0;
}
